## Writing fundamrntal pairs to disk
* [DNB](#DNB)
* [Equinor](#Equinor)
* [Telenor](#Telenor)
* [Hydro](#Hydro)
* [Aker BP](#Aker-BP)
* [Yara](#Yara)
* [Gjensidige](#Gjensidige)
* [Orkla](#Orkla)
* [Schibsted A](#Schibsted-A)
* [AF Gruppen A](#AF-Gruppen-A)
* [Arendals fossekompani](#Arendals-fossekompani)
* [Atea](#Atea)
* [Borregaard](#Borregaard)
* [Bouvet](#Bouvet)
* [Frontline](#Frontline)
* [Kongsberg gruppen](#Kongsberg-gruppen)
* [Nordic Semiconductor](#Nordic-Semiconductor)
* [Subsea 7](#Subsea-7)
* [Walenius Wilhelmsen](#Walenius-Wilhelmsen)
* [DNO](#DNO)
* [Protector](#Protector)
* [Storebrand](#Storebrand)
* [Veidekke](#Veidekke)

### Equity data

In [79]:
eqt_NO = pd.read_excel('MASTER_A.xlsx',
                   sheet_name='Norway',
                   index_col='Name')
eqt_NO.drop('CURRENCY', inplace=True)
eqt_NO.index = eqt_NO.index.astype(str).str[:-9]
eqt_NO.rename(columns = lambda x : x.replace(' - TOT RETURN IND', ''),
          inplace=True)
eqt_NO.head()

,EQUINOR,DNB BANK,TELENOR,NORSK HYDRO,AKER BP,ADEVINTA,MOWI,YARA INTERNATIONAL,AKER,AKER SOLUTIONS,...,NORWAY ROYAL SALMON,NORWEGIAN AIR SHUTTLE,SBANKEN,PROTECTOR FORSIKRING,SCATEC,STOREBRAND,SUBSEA 7,VEIDEKKE,WALLENIUS WILHELMSEN,XXL
Name,,,,,,,,,,,,,,,,,,,,,
2012-03-01,365.9,1809.89,327.88,12108.06,162.5,NaN,2.03,610.79,410.22,NaN,...,39.86,277.36,NaN,103.08,NaN,511.87,241.24,4830.77,171.23,NaN
2012-03-02,366.13,1827.65,327.88,12136.91,162.5,NaN,1.99,602.92,415.87,NaN,...,39.86,278.21,NaN,103.08,NaN,517.77,243.04,4746.39,177.08,NaN
2012-03-05,363.39,1795.92,331.36,11769.02,159.37,NaN,1.9,582.69,411.35,NaN,...,39.86,279.9,NaN,103.08,NaN,510.15,236.75,4756.94,177.08,NaN
2012-03-06,355.87,1721.04,324.08,11246.03,155.8,NaN,1.8,567.63,405.7,NaN,...,39.86,278.21,NaN,103.08,NaN,488.26,226.15,4640.92,171.68,NaN
2012-03-07,359.29,1752.77,325.66,11404.73,155.36,NaN,1.94,577.07,411.35,NaN,...,44.42,271.44,NaN,103.08,NaN,500.64,229.38,4630.37,168.07,NaN

In [1]:
equities_obx_100 = pd.read_excel('CLEANED_DATA_2.xlsx', sheet_name='NO_EQ_200', index_col='Name')
equities_obx_100 = equities_obx_100[:'2022-03-01']
equities_obx_100.tail()

,EQUINOR,DNB BANK,MOWI,TELENOR,DNO,FRONTLINE,GAMING INNOVATION GROUP,GJENSIDIGE FORSIKRING,NORSK HYDRO,SCHIBSTED A,...,STRONGPOINT,SUBSEA 7,TECHSTEP,TGS,TOMRA SYSTEMS,TOTENS SPAREBANK,VEIDEKKE,VOSS VEKSEL- OG LANDMANDSBANK,WALLENIUS WILHELMSEN,WILSON
Name,,,,,,,,,,,,,,,,,,,,,
2022-02-23,1020.70,7691.81,25.22,728.17,230.25,284.40,4.25,779.39,38774.35,3940.76,...,343.04,142.13,2.19,663.23,3545.35,2491.74,25555.25,4915.64,714.66,701.16
2022-02-24,1063.49,7150.63,24.12,693.82,236.51,291.11,4.09,761.55,40036.73,3893.30,...,326.44,137.65,2.19,659.79,3455.58,2430.97,25009.86,4873.26,687.13,596.39
2022-02-25,1005.63,7364.50,25.13,707.07,234.71,294.05,4.33,787.03,40531.96,4139.07,...,329.21,140.51,2.15,673.02,3629.09,2471.49,25204.64,4873.26,709.90,701.16
2022-02-28,1022.90,7331.02,25.20,705.72,235.35,318.79,4.30,793.22,40570.80,4291.62,...,336.12,138.94,2.18,678.12,3584.20,2471.49,26529.16,4873.26,706.19,648.78
2022-03-01,1100.41,7152.49,25.90,706.53,247.12,323.61,4.25,793.59,42007.98,4200.09,...,331.97,143.80,2.11,723.60,3614.41,2451.23,26412.29,5000.39,673.37,685.05

In [2]:
equities_obx_100.columns

Index(['EQUINOR', 'DNB BANK', 'MOWI', 'TELENOR', 'DNO', 'FRONTLINE',
       'GAMING INNOVATION GROUP', 'GJENSIDIGE FORSIKRING', 'NORSK HYDRO',
       'SCHIBSTED A',
       ...
       'STRONGPOINT', 'SUBSEA 7', 'TECHSTEP', 'TGS', 'TOMRA SYSTEMS',
       'TOTENS SPAREBANK', 'VEIDEKKE', 'VOSS VEKSEL- OG LANDMANDSBANK',
       'WALLENIUS WILHELMSEN', 'WILSON'],
      dtype='object', length=101)

#### DNB

In [9]:
dnb_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'DNB',
                         index_col='Name')
dnb_fund = dnb_fund[:'2022-03-01']
dnb_eqt = equities_obx_100['DNB BANK']

In [11]:
pd.concat([dnb_fund, dnb_eqt], axis=1).isna().sum()

NORDEA BANK                        0
SVENSKA HANDELSBANKEN A            0
DANSKE BANK                        0
SKANDINAVISKA ENSKILDA BANKEN A    0
BNP PARIBAS                        0
LLOYDS BANKING GROUP               0
BARCLAYS                           0
DNB BANK                           0
dtype: int64

In [22]:
with pd.ExcelWriter('DNB_PAIRS_F.xlsx') as writer:
    
    for eqt_name in dnb_fund.columns:
        eqt_for = dnb_fund[eqt_name]
        pair = pd.concat([eqt_for, dnb_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - DNB')
        print(f'{eqt_name} written to disk')

            NORDEA BANK  DNB BANK
Name
2013-01-02   934.680474   1879.65
2013-01-03   933.220476   1879.65
2013-01-04   944.702184   1905.76
2013-01-07   947.462534   1905.76
2013-01-08   942.311448   1909.67
...                 ...       ...
2022-02-23  2907.428304   7691.81
2022-02-24  2783.142516   7150.63
2022-02-25  2844.257440   7364.50
2022-02-28  2808.879194   7331.02
2022-03-01  2683.519872   7152.49

[2390 rows x 2 columns] written to disk

            SVENSKA HANDELSBANKEN A  DNB BANK
Name
2013-01-02              8891.541504   1879.65
2013-01-03              8943.998976   1879.65
2013-01-04              9064.243512   1905.76
2013-01-07              9105.788217   1905.76
2013-01-08              9044.602983   1909.67
...                             ...       ...
2022-02-23             18030.852864   7691.81
2022-02-24             16912.236686   7150.63
2022-02-25             17528.564608   7364.50
2022-02-28             17387.418593   7331.02
2022-03-01             16633.021192   7152.49

[2390 rows x 2 columns] written to disk

             DANSKE BANK  DNB BANK
Name
2013-01-02  12064.716876   1879.65
2013-01-03  12107.806398   1879.65
2013-01-04  12275.409705   1905.76
2013-01-07  12539.463874   1905.76
2013-01-08  12781.608318   1909.67
...                  ...       ...
2022-02-23  25986.722640   7691.81
2022-02-24  24208.920756   7150.63
2022-02-25  24811.032995   7364.50
2022-02-28  24289.936728   7331.02
2022-03-01  23382.908712   7152.49

[2390 rows x 2 columns] written to disk

            SKANDINAVISKA ENSKILDA BANKEN A  DNB BANK
Name
2013-01-02                      2990.562570   1879.65
2013-01-03                      2982.656382   1879.65
2013-01-04                      3028.550208   1905.76
2013-01-07                      3058.585897   1905.76
2013-01-08                      3057.507180   1909.67
...                                     ...       ...
2022-02-23                     10551.736792   7691.81
2022-02-24                      9765.734342   7150.63
2022-02-25                     10093.509232   7364.50
2022-02-28                      9950.077931   7331.02
2022-03-01                      9451.122552   7152.49

[2390 rows x 2 columns] written to disk

            BNP PARIBAS  DNB BANK
Name
2013-01-02  2893.851725   1879.65
2013-01-03  2883.569505   1879.65
2013-01-04  2881.645200   1905.76
2013-01-07  2938.034840   1905.76
2013-01-08  2977.449475   1909.67
...                 ...       ...
2022-02-23  7530.643425   7691.81
2022-02-24  7004.363052   7150.63
2022-02-25  7135.147656   7364.50
2022-02-28  6582.792630   7331.02
2022-03-01  6081.130248   7152.49

[2390 rows x 2 columns] written to disk

            LLOYDS BANKING GROUP  DNB BANK
Name
2013-01-02            567.063968   1879.65
2013-01-03            567.489850   1879.65
2013-01-04            568.788480   1905.76
2013-01-07            577.047699   1905.76
2013-01-08            580.736123   1909.67
...                          ...       ...
2022-02-23           1018.341265   7691.81
2022-02-24            913.021764   7150.63
2022-02-25            960.393812   7364.50
2022-02-28            935.717280   7331.02
2022-03-01            879.555970   7152.49

[2390 rows x 2 columns] written to disk

                 BARCLAYS  DNB BANK
Name
2013-01-02  260072.004672   1879.65
2013-01-03  260562.380050   1879.65
2013-01-04  260993.850624   1905.76
2013-01-07  271359.133200   1905.76
2013-01-08  271148.097200   1909.67
...                   ...       ...
2022-02-23  326613.936725   7691.81
2022-02-24  300601.235692   7150.63
2022-02-25  311962.761138   7364.50
2022-02-28  301823.227736   7331.02
2022-03-01  284273.910052   7152.49

[2390 rows x 2 columns] written to disk

#### Equinor

In [23]:
equinor_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Equinor',
                         index_col='Name')
equinor_fund = equinor_fund[:'2022-03-01']
equinor_eqt = equities_obx_100['EQUINOR']
pd.concat([equinor_fund, equinor_eqt], axis=1).isna().sum()

BP               0
SHELL            0
ENI              0
TOTALENERGIES    0
EXXON MOBIL      0
CHEVRON          0
EQUINOR          0
dtype: int64

In [24]:
with pd.ExcelWriter('EQUINOR_PAIRS_F.xlsx') as writer:
    
    for eqt_name in equinor_fund.columns:
        eqt_for = equinor_fund[eqt_name]
        pair = pd.concat([eqt_for, equinor_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - EQUINOR')
        print(f'{eqt_name} written to disk')

BP written to disk

SHELL written to disk

ENI written to disk

TOTALENERGIES written to disk

EXXON MOBIL written to disk

CHEVRON written to disk

#### Telenor

In [32]:
telenor_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Telenor',
                         index_col='Name')
telenor_fund = telenor_fund[:'2022-03-01']
telenor_eqt = equities_obx_100['TELENOR']
pd.concat([telenor_fund, telenor_eqt], axis=1).isna().sum()

TELE2 B             0
TELIA COMPANY       0
DEUTSCHE TELEKOM    0
TELEFONICA          0
TELEKOM AUSTRIA     0
VODAFONE GROUP      0
SWISSCOM 'R'        0
BT GROUP            0
TELENOR             0
dtype: int64

In [33]:
with pd.ExcelWriter('TELENOR_PAIRS_F.xlsx') as writer:
    
    for eqt_name in telenor_fund.columns:
        eqt_for = telenor_fund[eqt_name]
        pair = pd.concat([eqt_for, telenor_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - telenor')
        print(f'{eqt_name} written to disk')

TELE2 B written to disk

TELIA COMPANY written to disk

DEUTSCHE TELEKOM written to disk

TELEFONICA written to disk

TELEKOM AUSTRIA written to disk

VODAFONE GROUP written to disk

SWISSCOM 'R' written to disk

BT GROUP written to disk

#### Hydro

In [37]:
hydro_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Hydro',
                         index_col='Name')
hydro_fund = hydro_fund[:'2022-03-01']
hydro_eqt = equities_obx_100['NORSK HYDRO']
pd.concat([hydro_fund, hydro_eqt], axis=1).isna().sum()

KAISER ALUMINUM    0
NORSK HYDRO        0
dtype: int64

In [38]:
with pd.ExcelWriter('HYDRO_PAIRS_F.xlsx') as writer:
    
    for eqt_name in hydro_fund.columns:
        eqt_for = hydro_fund[eqt_name]
        pair = pd.concat([eqt_for, hydro_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - hydro')
        print(f'{eqt_name} written to disk')

KAISER ALUMINUM written to disk

#### Aker BP

In [39]:
akerbp_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Aker BP',
                         index_col='Name')
akerbp_fund = akerbp_fund[:'2022-03-01']
akerbp_eqt = equities_obx_100['AKER BP']
pd.concat([akerbp_fund, akerbp_eqt], axis=1).isna().sum()

LUNDIN ENERGY     0
HARBOUR ENERGY    0
HESS              0
MARATHON OIL      0
MURPHY OIL        0
MEG ENERGY        0
AKER BP           0
dtype: int64

In [40]:
with pd.ExcelWriter('AKERBP_PAIRS_F.xlsx') as writer:
    
    for eqt_name in akerbp_fund.columns:
        eqt_for = akerbp_fund[eqt_name]
        pair = pd.concat([eqt_for, akerbp_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - akerbp')
        print(f'{eqt_name} written to disk')

LUNDIN ENERGY written to disk

HARBOUR ENERGY written to disk

HESS written to disk

MARATHON OIL written to disk

MURPHY OIL written to disk

MEG ENERGY written to disk

#### Yara

In [41]:
yara_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Yara',
                         index_col='Name')
yara_fund = yara_fund[:'2022-03-01']
yara_eqt = equities_obx_100['YARA INTERNATIONAL']
pd.concat([yara_fund, yara_eqt], axis=1).isna().sum()

CF INDUSTRIES HDG.    0
ICL GROUP             0
MOSAIC                0
YARA INTERNATIONAL    0
dtype: int64

In [42]:
with pd.ExcelWriter('YARA_PAIRS_F.xlsx') as writer:
    
    for eqt_name in yara_fund.columns:
        eqt_for = yara_fund[eqt_name]
        pair = pd.concat([eqt_for, yara_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - yara')
        print(f'{eqt_name} written to disk')

CF INDUSTRIES HDG. written to disk

ICL GROUP written to disk

MOSAIC written to disk

#### Gjensidige

In [43]:
gjensidige_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Gjensidige',
                         index_col='Name')
gjensidige_fund = gjensidige_fund[:'2022-03-01']
gjensidige_eqt = equities_obx_100['GJENSIDIGE FORSIKRING']
pd.concat([gjensidige_fund, gjensidige_eqt], axis=1).isna().sum()

TOPDANMARK                0
SAMPO 'A'                 0
TRYG                      0
ALLIANZ                   0
ZURICH INSURANCE GROUP    0
ADMIRAL GROUP             0
TALANX AKTGSF.            0
GJENSIDIGE FORSIKRING     0
dtype: int64

In [44]:
with pd.ExcelWriter('GJENSIDIGE_PAIRS_F.xlsx') as writer:
    
    for eqt_name in gjensidige_fund.columns:
        eqt_for = gjensidige_fund[eqt_name]
        pair = pd.concat([eqt_for, gjensidige_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - gjensidige')
        print(f'{eqt_name} written to disk')

TOPDANMARK written to disk

SAMPO 'A' written to disk

TRYG written to disk

ALLIANZ written to disk

ZURICH INSURANCE GROUP written to disk

ADMIRAL GROUP written to disk

TALANX AKTGSF. written to disk

#### Orkla

In [45]:
orkla_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Orkla',
                         index_col='Name')
orkla_fund = orkla_fund[:'2022-03-01']
orkla_eqt = equities_obx_100['ORKLA']
pd.concat([orkla_fund, orkla_eqt], axis=1).isna().sum()

DANONE                     0
NESTLE 'N'                 0
SUEDZUCKER                 0
TATE & LYLE                0
AAK                        0
PREMIUM BRANDS HOLDINGS    0
UNILEVER (UK)              0
ORKLA                      0
dtype: int64

In [46]:
with pd.ExcelWriter('ORKLA_PAIRS_F.xlsx') as writer:
    
    for eqt_name in orkla_fund.columns:
        eqt_for = orkla_fund[eqt_name]
        pair = pd.concat([eqt_for, orkla_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - orkla')
        print(f'{eqt_name} written to disk')

DANONE written to disk

NESTLE 'N' written to disk

SUEDZUCKER written to disk

TATE & LYLE written to disk

AAK written to disk

PREMIUM BRANDS HOLDINGS written to disk

UNILEVER (UK) written to disk

#### Schibsted A

In [47]:
schibsted_a_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Schibsted A',
                         index_col='Name')
schibsted_a_fund = schibsted_a_fund[:'2022-03-01']
schibsted_a_eqt = equities_obx_100['SCHIBSTED A']
pd.concat([schibsted_a_fund, schibsted_a_eqt], axis=1).isna().sum()

SANOMA              0
INFORMA             0
LAGARDERE GROUPE    0
PEARSON             0
JCDECAUX            0
VIVENDI             0
SCHIBSTED A         0
dtype: int64

In [48]:
with pd.ExcelWriter('Schibsted_A_PAIRS_F.xlsx') as writer:
    
    for eqt_name in schibsted_a_fund.columns:
        eqt_for = schibsted_a_fund[eqt_name]
        pair = pd.concat([eqt_for, schibsted_a_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - schibsted_a')
        print(f'{eqt_name} written to disk')

SANOMA written to disk

INFORMA written to disk

LAGARDERE GROUPE written to disk

PEARSON written to disk

JCDECAUX written to disk

VIVENDI written to disk

#### AF Gruppen A

In [115]:
af_gruppen_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'AF gruppen A',
                         index_col='Name')
af_gruppen_fund = af_gruppen_fund[:'2022-03-01']
af_gruppen_eqt = eqt_NO["AF GRUPPEN 'A'"]
af_gruppen_eqt = af_gruppen_eqt.reindex(af_gruppen_fund.index, axis='index')
pd.concat([af_gruppen_fund, af_gruppen_eqt], axis=1).isna().sum()

SKANSKA B                   0
BALFOUR BEATTY              0
HOCHTIEF                    0
NCC B                       0
YIT                         0
PEAB B                      0
ACS ACTIV.CONSTR.Y SERV.    0
VINCI                       0
BOSKALIS WESTMINSTER        0
AF GRUPPEN 'A'              0
dtype: int64

In [116]:
with pd.ExcelWriter('AF_GRUPPEN_PAIRS_F.xlsx') as writer:
    
    for eqt_name in af_gruppen_fund.columns:
        eqt_for = af_gruppen_fund[eqt_name]
        pair = pd.concat([eqt_for, af_gruppen_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - af_gruppen')
        print(f'{eqt_name} written to disk')

SKANSKA B written to disk

BALFOUR BEATTY written to disk

HOCHTIEF written to disk

NCC B written to disk

YIT written to disk

PEAB B written to disk

ACS ACTIV.CONSTR.Y SERV. written to disk

VINCI written to disk

BOSKALIS WESTMINSTER written to disk

#### Arendals fossekompani

In [118]:
AFK_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Arendals fossekompani',
                         index_col='Name')
AFK_fund = AFK_fund[:'2022-03-01']
AFK_eqt = equities_obx_100['ARENDALS FOSSEKOMPANI']
AFK_eqt = AFK_eqt.reindex(AFK_fund.index, axis='index')
pd.concat([AFK_fund, AFK_eqt], axis=1).isna().sum()

VERBUND                  0
ARENDALS FOSSEKOMPANI    0
dtype: int64

In [119]:
with pd.ExcelWriter('AFK_PAIRS_F.xlsx') as writer:
    
    for eqt_name in AFK_fund.columns:
        eqt_for = AFK_fund[eqt_name]
        pair = pd.concat([eqt_for, AFK_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - AFK')
        print(f'{eqt_name} written to disk')

VERBUND written to disk

#### Atea

In [121]:
Atea_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Atea',
                         index_col='Name')
Atea_fund = Atea_fund[:'2022-03-01']
Atea_eqt = equities_obx_100['ATEA']
Atea_eqt = Atea_eqt.reindex(Atea_fund.index, axis='index')
pd.concat([Atea_fund, Atea_eqt], axis=1).isna().sum()

CAPGEMINI             0
ATOS                  0
SOPRA STERIA GROUP    0
COMPUTACENTER         0
TIETOEVRY             0
ACCENTURE CLASS A     0
ATEA                  0
dtype: int64

In [122]:
with pd.ExcelWriter('ATEA_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Atea_fund.columns:
        eqt_for = Atea_fund[eqt_name]
        pair = pd.concat([eqt_for, Atea_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Atea')
        print(f'{eqt_name} written to disk')

CAPGEMINI written to disk

ATOS written to disk

SOPRA STERIA GROUP written to disk

COMPUTACENTER written to disk

TIETOEVRY written to disk

ACCENTURE CLASS A written to disk

#### Borregaard

In [123]:
Borregaard_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Borregaard',
                         index_col='Name')
Borregaard_fund = Borregaard_fund[:'2022-03-01']
Borregaard_eqt = equities_obx_100['BORREGAARD']
Borregaard_eqt = Borregaard_eqt.reindex(Borregaard_fund.index, axis='index')
pd.concat([Borregaard_fund, Borregaard_eqt], axis=1).isna().sum()

SOLVAY             0
JOHNSON MATTHEY    0
BORREGAARD         0
dtype: int64

In [125]:
with pd.ExcelWriter('BORREGAARD_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Borregaard_fund.columns:
        eqt_for = Borregaard_fund[eqt_name]
        pair = pd.concat([eqt_for, Borregaard_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Borregaard')
        print(f'{eqt_name} written to disk')

SOLVAY written to disk

JOHNSON MATTHEY written to disk

#### Bouvet

In [127]:
Bouvet_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Atea',
                         index_col='Name')
Bouvet_fund = Bouvet_fund[:'2022-03-01']
Bouvet_eqt = equities_obx_100['BOUVET']
Bouvet_eqt = Bouvet_eqt.reindex(Bouvet_fund.index, axis='index')
pd.concat([Bouvet_fund, Bouvet_eqt], axis=1).isna().sum()

CAPGEMINI             0
ATOS                  0
SOPRA STERIA GROUP    0
COMPUTACENTER         0
TIETOEVRY             0
ACCENTURE CLASS A     0
BOUVET                0
dtype: int64

In [128]:
with pd.ExcelWriter('BOUVET_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Bouvet_fund.columns:
        eqt_for = Bouvet_fund[eqt_name]
        pair = pd.concat([eqt_for, Bouvet_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Bouvet')
        print(f'{eqt_name} written to disk')

CAPGEMINI written to disk

ATOS written to disk

SOPRA STERIA GROUP written to disk

COMPUTACENTER written to disk

TIETOEVRY written to disk

ACCENTURE CLASS A written to disk

#### Frontline

In [131]:
Frontline_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Frontline',
                         usecols = ['TEEKAY', 'Name'],
                         index_col='Name')
Frontline_fund = Frontline_fund[:'2022-03-01']
Frontline_eqt = equities_obx_100['FRONTLINE']
Frontline_eqt = Frontline_eqt.reindex(Frontline_fund.index, axis='index')
pd.concat([Frontline_fund, Frontline_eqt], axis=1).isna().sum()

TEEKAY       0
FRONTLINE    0
dtype: int64

In [135]:
with pd.ExcelWriter('FRONLINE_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Frontline_fund.columns:
        eqt_for = Frontline_fund[eqt_name]
        pair = pd.concat([eqt_for, Frontline_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Frontline')
        print(f'{eqt_name} written to disk')

TEEKAY written to disk

#### Kongsberg gruppen

In [133]:
Kongsberg_gruppen_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Kongsberg gruppen',
                         index_col='Name')
Kongsberg_gruppen_fund = Kongsberg_gruppen_fund[:'2022-03-01']
Kongsberg_gruppen_eqt = equities_obx_100['KONGSBERG GRUPPEN']
Kongsberg_gruppen_eqt = Kongsberg_gruppen_eqt.reindex(Kongsberg_gruppen_fund.index, axis='index')
pd.concat([Kongsberg_gruppen_fund, Kongsberg_gruppen_eqt], axis=1).isna().sum()

KONGSBERG GRUPPEN        0
RHEINMETALL              0
LEONARDO                 0
GENERAL DYNAMICS         0
LOCKHEED MARTIN          0
NORTHROP GRUMMAN         0
RAYTHEON TECHNOLOGIES    0
BAE SYSTEMS              0
THALES                   0
KONGSBERG GRUPPEN        0
dtype: int64

In [136]:
with pd.ExcelWriter('KONGSBERGGRUPPEN_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Kongsberg_gruppen_fund.columns:
        eqt_for = Kongsberg_gruppen_fund[eqt_name]
        pair = pd.concat([eqt_for, Kongsberg_gruppen_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - KongsbGr')
        print(f'{eqt_name} written to disk')

KONGSBERG GRUPPEN written to disk

RHEINMETALL written to disk

LEONARDO written to disk

GENERAL DYNAMICS written to disk

LOCKHEED MARTIN written to disk

NORTHROP GRUMMAN written to disk

RAYTHEON TECHNOLOGIES written to disk

BAE SYSTEMS written to disk

THALES written to disk

#### Nordic Semiconductor

In [139]:
Nordic_Semiconductor_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Nordic Semiconductor',
                         index_col='Name')
Nordic_Semiconductor_fund = Nordic_Semiconductor_fund[:'2022-03-01']
Nordic_Semiconductor_eqt = equities_obx_100['NORDIC SEMICONDUCTOR']
Nordic_Semiconductor_eqt = Nordic_Semiconductor_eqt.reindex(Nordic_Semiconductor_fund.index, axis='index')
pd.concat([Nordic_Semiconductor_fund, Nordic_Semiconductor_eqt], axis=1).isna().sum()

TAIWAN SEMICON.MNFG.      0
STMICROELECTRONICS        0
INTEL                     0
QUALCOMM                  0
BROADCOM                  0
NVIDIA                    0
ADVANCED MICRO DEVICES    0
LATTICE SEMICONDUCTOR     0
REALTEK SEMICON.          0
NORDIC SEMICONDUCTOR      0
dtype: int64

In [140]:
with pd.ExcelWriter('NORDIC_SEMI_F.xlsx') as writer:
    
    for eqt_name in Nordic_Semiconductor_fund.columns:
        eqt_for = Nordic_Semiconductor_fund[eqt_name]
        pair = pd.concat([eqt_for, Nordic_Semiconductor_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - NordicSemi')
        print(f'{eqt_name} written to disk')

TAIWAN SEMICON.MNFG. written to disk

STMICROELECTRONICS written to disk

INTEL written to disk

QUALCOMM written to disk

BROADCOM written to disk

NVIDIA written to disk

ADVANCED MICRO DEVICES written to disk

LATTICE SEMICONDUCTOR written to disk

REALTEK SEMICON. written to disk

#### Subsea 7

In [141]:
Subsea_7_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Subsea 7',
                         index_col='Name')
Subsea_7_fund = Subsea_7_fund[:'2022-03-01']
Subsea_7_eqt = equities_obx_100['SUBSEA 7']
Subsea_7_eqt = Subsea_7_eqt.reindex(Subsea_7_fund.index, axis='index')
pd.concat([Subsea_7_fund, Subsea_7_eqt], axis=1).isna().sum()

SAIPEM                   0
OCEANEERING              0
HELIX ENERGY SLTN.GP.    0
SCHLUMBERGER             0
BAKER HUGHES A           0
HALLIBURTON              0
SUBSEA 7                 0
SUBSEA 7                 0
dtype: int64

In [142]:
with pd.ExcelWriter('SUBSEA_7_F.xlsx') as writer:
    
    for eqt_name in Subsea_7_fund.columns:
        eqt_for = Subsea_7_fund[eqt_name]
        pair = pd.concat([eqt_for, Subsea_7_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Subsea7')
        print(f'{eqt_name} written to disk')

SAIPEM written to disk

OCEANEERING written to disk

HELIX ENERGY SLTN.GP. written to disk

SCHLUMBERGER written to disk

BAKER HUGHES A written to disk

HALLIBURTON written to disk

SUBSEA 7 written to disk

#### Walenius Wilhelmsen

In [146]:
Walenius_Wilhelmsen_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Walenius Wilhelmsen',
                         index_col='Name')
Walenius_Wilhelmsen_fund = Walenius_Wilhelmsen_fund[:'2022-03-01']
Walenius_Wilhelmsen_eqt = equities_obx_100['WALLENIUS WILHELMSEN']
Walenius_Wilhelmsen_eqt = Walenius_Wilhelmsen_eqt.reindex(Walenius_Wilhelmsen_fund.index, axis='index')
pd.concat([Walenius_Wilhelmsen_fund, Walenius_Wilhelmsen_eqt], axis=1).isna().sum()

DFDS                    0
WALLENIUS WILHELMSEN    0
dtype: int64

In [147]:
with pd.ExcelWriter('WAWI_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Walenius_Wilhelmsen_fund.columns:
        eqt_for = Walenius_Wilhelmsen_fund[eqt_name]
        pair = pd.concat([eqt_for, Walenius_Wilhelmsen_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - WAWI')
        print(f'{eqt_name} written to disk')

DFDS written to disk

#### DNO

In [148]:
DNO_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Walenius Wilhelmsen',
                         index_col='Name')
DNO_fund = DNO_fund[:'2022-03-01']
DNO_eqt = equities_obx_100['DNO']
DNO_eqt = DNO_eqt.reindex(DNO_fund.index, axis='index')
pd.concat([DNO_fund, DNO_eqt], axis=1).isna().sum()

DFDS    0
DNO     0
dtype: int64

In [149]:
with pd.ExcelWriter('DNO_PAIRS_F.xlsx') as writer:
    
    for eqt_name in DNO_fund.columns:
        eqt_for = DNO_fund[eqt_name]
        pair = pd.concat([eqt_for, DNO_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - DNO')
        print(f'{eqt_name} written to disk')

DFDS written to disk

#### Protector

In [150]:
Protector_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Gjensidige',
                         index_col='Name')
Protector_fund = Protector_fund[:'2022-03-01']
Protector_eqt = equities_obx_100['PROTECTOR FORSIKRING']
Protector_eqt = Protector_eqt.reindex(Protector_fund.index, axis='index')
pd.concat([Protector_fund, Protector_eqt], axis=1).isna().sum()

TOPDANMARK                0
SAMPO 'A'                 0
TRYG                      0
ALLIANZ                   0
ZURICH INSURANCE GROUP    0
ADMIRAL GROUP             0
TALANX AKTGSF.            0
PROTECTOR FORSIKRING      0
dtype: int64

In [151]:
with pd.ExcelWriter('PROTECTOR_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Protector_fund.columns:
        eqt_for = Protector_fund[eqt_name]
        pair = pd.concat([eqt_for, Protector_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Protector')
        print(f'{eqt_name} written to disk')

TOPDANMARK written to disk

SAMPO 'A' written to disk

TRYG written to disk

ALLIANZ written to disk

ZURICH INSURANCE GROUP written to disk

ADMIRAL GROUP written to disk

TALANX AKTGSF. written to disk

#### Storebrand

In [152]:
Storebrand_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'Gjensidige',
                         index_col='Name')
Storebrand_fund = Storebrand_fund[:'2022-03-01']
Storebrand_eqt = equities_obx_100['STOREBRAND']
Storebrand_eqt = Storebrand_eqt.reindex(Storebrand_fund.index, axis='index')
pd.concat([Storebrand_fund, Storebrand_eqt], axis=1).isna().sum()

TOPDANMARK                0
SAMPO 'A'                 0
TRYG                      0
ALLIANZ                   0
ZURICH INSURANCE GROUP    0
ADMIRAL GROUP             0
TALANX AKTGSF.            0
STOREBRAND                0
dtype: int64

In [153]:
with pd.ExcelWriter('Storebrand_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Storebrand_fund.columns:
        eqt_for = Storebrand_fund[eqt_name]
        pair = pd.concat([eqt_for, Storebrand_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Storebrand')
        print(f'{eqt_name} written to disk')

TOPDANMARK written to disk

SAMPO 'A' written to disk

TRYG written to disk

ALLIANZ written to disk

ZURICH INSURANCE GROUP written to disk

ADMIRAL GROUP written to disk

TALANX AKTGSF. written to disk

#### Veidekke

In [154]:
Veidekke_fund = pd.read_excel('FUND_PAIRS_CLEAN.xlsx',
                         sheet_name = 'AF gruppen A',
                         index_col='Name')
Veidekke_fund = Veidekke_fund[:'2022-03-01']
Veidekke_eqt = equities_obx_100['VEIDEKKE']
Veidekke_eqt = Veidekke_eqt.reindex(Veidekke_fund.index, axis='index')
pd.concat([Veidekke_fund, Veidekke_eqt], axis=1).isna().sum()

SKANSKA B                   0
BALFOUR BEATTY              0
HOCHTIEF                    0
NCC B                       0
YIT                         0
PEAB B                      0
ACS ACTIV.CONSTR.Y SERV.    0
VINCI                       0
BOSKALIS WESTMINSTER        0
VEIDEKKE                    0
dtype: int64

In [155]:
with pd.ExcelWriter('VEIDEKKE_PAIRS_F.xlsx') as writer:
    
    for eqt_name in Veidekke_fund.columns:
        eqt_for = Veidekke_fund[eqt_name]
        pair = pd.concat([eqt_for, Veidekke_eqt], axis=1)

        pair.to_excel(writer, sheet_name= f'{eqt_name.split(" ")[0]} - Veidekke')
        print(f'{eqt_name} written to disk')

SKANSKA B written to disk

BALFOUR BEATTY written to disk

HOCHTIEF written to disk

NCC B written to disk

YIT written to disk

PEAB B written to disk

ACS ACTIV.CONSTR.Y SERV. written to disk

VINCI written to disk

BOSKALIS WESTMINSTER written to disk