# Cleaning data
>This file contains functionality for writing data (timeseries and curreny-mappings) to the desired format to fasilitate further exploration and analysis. The *'data.xlsx'* file refers to the file where all the raw data gathered from datastream is stored.
>> Interest rates are gathered from Norges Bank

### Overview
* [Equities](#Equities)
    * [Currencies](Currencies)
    * [Data for a single country](#Data-for-a-single-country)
    * [Data for multiple contries](#Data-for-multiple-contries)
* [Exchange_rate_NO](#Exchange_rate_NO)
    
* [Factors](#Factors)
    * [ISM-PMI](#ISM-PMI)
* [Indices](#Indices)

In [15]:
import pandas as pd
import numpy as np
from datetime import datetime
from progress.bar import Bar

In [47]:
### GLOBAL VARIABLES

PERIOD_START = '2013-01-01'

indices = ['Norway', 'France', 'US', 'UK', 'Italy', 'Canada',
           'Australia', 'Austria', 'Hong Kong', 'Japan', 'Sweden', 'Chile',
           'Denmark', 'Finland', 'China']

indices2 = ['Germany', 'Spain']

### Equities

#### Currencies

In [9]:
def curr_mapping(countries: list, skiprows:int = 3) -> dict:
    """
    Extracts the currencies of each of the equties in each country
    Return a nested dictionary, with countries at the top level,
    and equties at the second
    """
    
    all = {}
    
    for c in countries:
        
        try:
            df = pd.read_excel('data.xlsx',
                               sheet_name=c,
                               skiprows=skiprows,
                               index_col='Name')
        except:
            print("An error occured when reading the file")
            
        single = {}
        
        for e in df.columns:
            try:
                curr = df[e].loc['CURRENCY']
                single[e] = curr
            except:
                print("An error occured when fetching the currencies")
            
        all[c] = single
        
    return all
        
def curr_mapping_country(countries: list, skiprows:int = 3) -> dict:
    
    curr = {}
    
    for c in countries:
        
        try:
            df = pd.read_excel('data.xlsx',
                               sheet_name=c,
                               skiprows=skiprows,
                               index_col='Name')
        except:
            print("An error occured when reading the file")
            
        curr[c] = df.iloc[0,0]
        
    return curr

In [10]:
m = curr_mapping_country(indices)
m

{'France': 'E',
 'USA': 'U$',
 'UK': '£',
 'Germany': 'E',
 'Spain': 'E',
 'Italy': 'E',
 'Canada': 'C$',
 'Australia': 'A$',
 'Hong Kong': 'K$',
 'Japan': 'Y',
 'Swiss': 'SF',
 'Russia': 'UR',
 'Sweden': 'SK',
 'Denmark': 'DK',
 'Finland': 'SK'}

In [5]:
a = curr_mapping(['USA', 'France'])
a['France']

{'LVMH': 'E',
 "L'OREAL": 'E',
 'TOTALENERGIES': 'E',
 'HERMES INTL.': 'E',
 'SANOFI': 'E',
 'CHRISTIAN DIOR': 'E',
 'AIRBUS': 'E',
 'KERING': 'E',
 'SCHNEIDER ELECTRIC': 'E',
 'BNP PARIBAS': 'E',
 'ESSILORLUXOTTICA': 'E',
 'L AIR LQE.SC.ANYME. POUR L ETUDE ET L EPXTN.': 'E',
 'AXA': 'E',
 'DASSAULT SYSTEMES': 'E',
 'VINCI': 'E',
 'PERNOD-RICARD': 'E',
 'DANONE': 'E',
 'SAFRAN': 'E',
 'CREDIT AGRICOLE': 'E',
 'SOCIETE GENERALE': 'E',
 'STMICROELECTRONICS': 'E',
 'CAPGEMINI': 'E',
 'EDF': 'E',
 'ENGIE': 'E',
 'ORANGE': 'E',
 'SAINT GOBAIN': 'E',
 'SARTORIUS STEDIM BIOTECH': 'E',
 'CARREFOUR': 'E',
 'CMPG.DES ETS.MICH.': 'E',
 'LEGRAND': 'E'}

#### Data for a single country

In [5]:
def get_contry_eq_curr(country:  str,
                       filename: str,
                       skiprows: int = 3,
                       start:    str ='2013-01-01') -> (pd.DataFrame, str):
    """
    Reads and cleans data the equties of the specified country,
    and returns a dataframe with each equity as a sepreate column
    """
    try:
        df = pd.read_excel(filename,
                           sheet_name=country,
                           skiprows=skiprows,
#                            index_col='Name'
                          )
    except:
        print("An error occured when reading the file")
        
    curr = df.iloc[0,0]
    df = df.drop('CURRENCY')
    
    df.index = df.index.astype(str).str[:-9]
    assert type(df.index[0]) == str, "Wrong index type"
    
    df = df[start:]
    
    df.dropna(axis=1, inplace=True)
    assert df.isnull().sum().sum() == 0, "Null values still exist"

    
    return df, curr

In [ ]:
df_canada, curr_canada = get_contry_eq_curr('Canada')

In [7]:
### Canada

df_canada, curr_canada = get_contry_eq_curr('Canada')
print(curr_canada)
df_canada.head()

C$

,ROYAL BANK OF CANADA,TORONTO-DOMINION BANK,ENBRIDGE,BK.OF NOVA SCOTIA,CANADIAN NATIONAL RY.,BROOKFIELD ASSET MAN.'A' (NYS),BANK OF MONTREAL,CANADIAN NATURAL RES.,THOMSON REUTERS (NYS),CANADIAN IMP.BK.COM.,...,TELUS,CENOVUS ENERGY,GREAT WEST LIFECO,IMPERIAL OIL,SUN LIFE FINL.,WASTE CONNECTIONS,FRANCO-NEVADA,LOBLAW,NATIONAL BANK OF CANADA,FORTIS
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-01,59.88,41.87,43.02,57.46,45.16,15.4505,60.86,28.27,29.06,79.97,...,16.27,33.29,24.35,42.73,26.37,29.74,56.78,33.68,38.62,34.22
2013-01-02,60.5,41.59,43.07,57.5,45.38,15.6487,61.19,28.83,29.46,80.12,...,16.3,33.67,24.2,42.44,26.75,30.07,57.4,33.74,38.69,34.43
2013-01-03,60.7,41.18,43.02,57.34,45.31,15.6023,61.38,29.16,29.3,80.8,...,16.27,33.48,24.53,42.43,27.01,30.14,55.73,33.45,38.66,34.58
2013-01-04,61.07,41.4,43.16,57.59,45.28,15.8089,61.63,29.76,29.42,81.16,...,16.3,33.78,24.78,43.05,27.14,29.77,56,33.39,38.76,34.51
2013-01-07,60.81,41.28,43.01,57.65,45.32,15.8552,61.77,29.39,29.29,81.05,...,16.1,33.53,24.86,43.19,27.39,29.66,55.45,32.58,38.63,34.52

In [8]:
df_canada.isnull().sum().sum()

0

#### Data for multiple contries

In [41]:
def get_eqt_mult(contries: list,
                 filename: str,
                 skiprows: int = 0,
                 start:    str = '2013-01-01',
                 write_to_excel = False) -> dict:
    """
    Reads and cleans data for the equties for the specified countries.
    Returns a dictionary with the countries as keys, and the corrsponding
    dataframe of equities as values
    """
    
    d = {}
    
    for c in contries:
        df = pd.read_excel(filename,
                           sheet_name=c,
                           skiprows=skiprows,
                           index_col='Name'
                          )
        df = df.drop('CURRENCY')
        
        df.index = df.index.astype(str).str[:-9]
        assert type(df.index[0]) == str, "Wrong index type"
        
        df = df[start:]
        
        df.dropna(axis=1, inplace=True)
        assert df.isnull().sum().sum() == 0, "Null values still exist"
        
        
        if write_to_excel:
            df.to_excel(c + '.xlsx')
            print(f'{c} has been written to Excel')
        
        d[c] = df
        print(f'{c} successfully')
        
        

    return d

In [10]:
all_eq_data = get_eqt_mult(indices, filename='data.xlsx', write_to_excel=True)
all_eq_data.keys()

France has been written to Excel
USA has been written to Excel
UK has been written to Excel
Germany has been written to Excel
Spain has been written to Excel
Italy has been written to Excel
Canada has been written to Excel
Australia has been written to Excel
Hong Kong has been written to Excel
Japan has been written to Excel
Swiss has been written to Excel
Russia has been written to Excel
Sweden has been written to Excel
Denmark has been written to Excel
Finland has been written to Excel

dict_keys(['France', 'USA', 'UK', 'Germany', 'Spain', 'Italy', 'Canada', 'Australia', 'Hong Kong', 'Japan', 'Swiss', 'Russia', 'Sweden', 'Denmark', 'Finland'])

### 03/02/02 - More data

In [33]:
d = pd.read_excel('MASTER_A.xlsx', sheet_name='China')
d.head()

,Name,KWEICHOW MOUTAI 'A' - TOT RETURN IND,ALIBABA GROUP HOLDING ADR 1:8 - TOT RETURN IND,INDUSTRIAL & COML.BK.OF CHINA 'A' - TOT RETURN IND,CONTEMPORARY AMPEREX TECHNOLOGY 'A' - TOT RETURN IND,CHINA CON.BANK 'H' - TOT RETURN IND,CHINA MERCHANTS BANK 'A' - TOT RETURN IND,AGRICULTURAL BANK OF CHINA 'A' - TOT RETURN IND,PETROCHINA 'A' - TOT RETURN IND,BANK OF CHINA 'A' - TOT RETURN IND,...,SAIC MOTOR 'A' - TOT RETURN IND,WILL SEMICONDUCTOR 'A' - TOT RETURN IND,ZHANGZHOU PIENTZEHUANG PHARMS.'A' - TOT RETURN IND,ZIJIN MINING GROUP 'A' - TOT RETURN IND,AIER EYE HOSPITAL GP.'A' - TOT RETURN IND,BOE TECH.GP.'A' - TOT RETURN IND,CHINA PAC.IN.(GROUP) 'A' - TOT RETURN IND,CHINA THREE GORGES RENEWABLES(GROUP) 'A' - TOT RETURN IND,CHINA VANKE 'A' - TOT RETURN IND,CHONGQING ZHIFEI BILG. PRDS.'A' - TOT RETURN IND
0,CURRENCY,CH,U$,CH,CH,K$,CH,CH,CH,CH,...,CH,CH,CH,CH,CH,CH,CH,CH,CH,CH
1,2012-03-01 00:00:00,2615.12,NaN,158.08,NaN,339.4,365.55,103.56,26.29,96.14,...,557.07,NaN,500.82,52.53,134.44,28.3,46.13,NaN,12433.16,62.84
2,2012-03-02 00:00:00,2593.43,NaN,158.8,NaN,343.59,369.23,103.56,26.67,96.46,...,576.78,NaN,503.07,52.87,136.18,28.87,46.81,NaN,12927.48,63.65
3,2012-03-05 00:00:00,2579.74,NaN,157.01,NaN,336.78,364.42,103.18,26.36,95.51,...,563.4,NaN,498.64,52.42,136.86,28.58,45.73,NaN,12747.73,63.1
4,2012-03-06 00:00:00,2530.82,NaN,155.57,NaN,326.31,356.21,102.42,25.99,94.89,...,564.81,NaN,493.55,51.18,135.93,28.01,44.61,NaN,12627.89,62.32

In [42]:
data_equity_all = get_eqt_mult(indices, filename='MASTER_A.xlsx', write_to_excel=False)

Norway successfully

France successfully

US successfully

UK successfully

Italy successfully

Canada successfully

Australia successfully

Hong Kong successfully

Japan successfully

Sweden successfully

Chile successfully

Denmark successfully

Finland successfully

China successfully

In [52]:
japan = data_equity_all['Japan']
japan.head()

,TOYOTA MOTOR - TOT RETURN IND,SONY GROUP - TOT RETURN IND,KEYENCE - TOT RETURN IND,NIPPON TELG. & TEL. - TOT RETURN IND,MITSUBISHI UFJ FINL.GP. - TOT RETURN IND,KDDI - TOT RETURN IND,SOFTBANK GROUP - TOT RETURN IND,TOKYO ELECTRON - TOT RETURN IND,NINTENDO - TOT RETURN IND,ORIENTAL LAND - TOT RETURN IND,...,ORIX - TOT RETURN IND,TOYOTA INDS. - TOT RETURN IND,AEON - TOT RETURN IND,ASAHI GROUP HOLDINGS - TOT RETURN IND,DAI-ICHI LIFE HOLDINGS - TOT RETURN IND,EAST JAPAN RAILWAY - TOT RETURN IND,KAO - TOT RETURN IND,KOMATSU - TOT RETURN IND,KUBOTA - TOT RETURN IND,KYOCERA - TOT RETURN IND
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-01,2814.63,95.57,931.9,42.09,44.64,152.47,790.55,1284.23,7391.14,132.38,...,1740.06,2844.43,713.79,1726.35,77.49,117.65,3221.48,1385.82,570.43,2769.77
2013-01-02,2814.63,95.57,931.9,42.09,44.64,152.47,790.55,1284.23,7391.14,132.38,...,1740.06,2844.43,713.79,1726.35,77.49,117.65,3221.48,1385.82,570.43,2769.77
2013-01-03,2814.63,95.57,931.9,42.09,44.64,152.47,790.55,1284.23,7391.14,132.38,...,1740.06,2844.43,713.79,1726.35,77.49,117.65,3221.48,1385.82,570.43,2769.77
2013-01-04,2993.84,96.56,978.36,42.72,46.87,154.98,786.77,1316.87,7480.78,132.5,...,1770.59,2961.08,718.86,1741.39,82.79,118.07,3280.21,1453.08,594.72,2873.14
2013-01-07,2941.13,95.47,940.49,43.01,46.09,154.48,771.66,1303.81,7293.36,134.53,...,1756.23,2951.7,717.41,1753.6,81.17,119.13,3327.48,1473.38,590.67,2823.24

### Valuta

In [59]:
valuta = pd.read_excel('VALUTA_CLEAN.xlsx', index_col='Unnamed: 0')
valuta.index = valuta.index.astype(str)
valuta.reindex(japan.index, axis = 'index')

,AUD,BDT,BGN,BRL,BYN,CAD,CHF,CNY,CZK,DKK,...,SEK,SGD,THB,TRY,TWD,TWI,USD,VND,XDR,ZAR
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-02,5.7905,NaN,3.7414,2.7032,NaN,5.6030,6.0525,0.8852,0.29017,0.9809,...,0.8538,4.5214,0.18186,3.1014,0.19021,90.22,5.5176,NaN,8.49825,0.6511
2013-01-03,5.8468,NaN,3.7281,2.7179,NaN,5.6423,6.0310,0.8924,0.28866,0.9774,...,0.8538,4.5518,0.18324,3.1222,0.19198,90.16,5.5652,NaN,8.53470,0.6481
2013-01-04,5.8420,NaN,3.7320,2.7445,NaN,5.6595,6.0362,0.9003,0.28787,0.9785,...,0.8556,4.5579,0.18385,3.1344,0.19318,90.30,5.6094,NaN,8.55374,0.6482
2013-01-07,5.8820,NaN,3.7356,2.7598,NaN,5.6763,6.0445,0.8993,0.28607,0.9794,...,0.8581,4.5563,0.18407,3.1439,0.19311,90.40,5.6032,NaN,8.55760,0.6519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-23,6.4350,0.1027,5.1301,1.7662,3.3355,6.9706,9.6189,1.4000,0.40998,1.3488,...,0.9496,6.5781,0.27413,0.6396,0.31722,118.26,8.8448,0.000387,12.34618,0.5884
2022-02-24,6.4694,0.1051,5.1579,1.7737,3.2577,7.0465,9.7750,1.4288,0.40206,1.3558,...,0.9398,6.6696,0.27627,0.6284,0.32196,118.56,9.0368,0.000396,12.52437,0.5878
2022-02-25,6.4189,0.1034,5.1005,1.7385,3.2252,6.9638,9.5938,1.4084,0.40453,1.3405,...,0.9424,6.5733,0.27375,0.6444,0.31792,117.58,8.8941,0.000390,12.34317,0.5857
2022-02-28,6.4138,0.1032,5.0856,1.7200,2.8535,6.9731,9.6232,1.4075,0.39791,1.3368,...,0.9379,6.5433,0.27181,0.6437,0.31651,116.90,8.8816,0.000389,12.32105,0.5754
2022-03-01,6.4171,0.1028,5.0413,1.7118,2.9583,6.9641,9.6221,1.3993,0.38719,1.3257,...,0.9224,6.5081,0.27009,0.6340,0.31472,115.68,8.8334,0.000387,12.24541,0.5728

In [57]:
japan.index

Index(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07',
       '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-14',
       ...
       '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-21', '2022-02-22',
       '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-28', '2022-03-01'],
      dtype='object', name='Name', length=2391)

In [58]:
valuta.index

Index(['2012-03-02', '2012-03-05', '2012-03-06', '2012-03-07', '2012-03-08',
       '2012-03-09', '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       ...
       '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-21', '2022-02-22',
       '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-28', '2022-03-01'],
      dtype='object', length=2513)

In [ ]:
for eqts in data_equity_all:
    eqts.apply(lambda : x * forex, axis=0)

### Exchange_rate_NO
Leser inn data fra Norges bank her

### Factors

In [11]:
def get_factors_or_indices_curr(filename: str, sheet_name: str) -> dict:
    """
    Gets the traded currencies for the given factors
    Returns a dictionary with the factors as keys, and
    corresponding currency as values
    """
    
    d = {}
    
    df = pd.read_excel(filename+'.xlsx',
                       skiprows=3,
                       index_col='Name',
                       sheet_name=sheet_name)
    
    for c in df.columns:
        d[c] = df[c]['CURRENCY']
        
    return d


def get_factors_or_indices(filename,
                sheet_name,
                skiprows: int = 3,
                start:    str ='2013-01-01') -> pd.DataFrame:
    """
    Reads and cleans data for the "factors".
    Returns a dataframe with each factors as a sepreate column
    """
    
    df = pd.read_excel(filename + '.xlsx',
                         sheet_name=sheet_name,
                         skiprows=skiprows,
                         index_col='Name')
    
    df = df.drop('CURRENCY')
    
    df.index = df.index.astype(str).str[:-9]
    assert type(df.index[0]) == str, "Wrong index type"
    
    df = df[start:]
#     df.dropna(axis=1, inplace=True)
    df = df[start:]
    
    return df

In [12]:
get_factors_or_indices_curr('data', 'Factors')

{'Crude Oil-WTI Spot Cushing U$/BBL': 'U$',
 'Europe Brent Spot FOB U$/BBL Daily': 'U$',
 'LME-Copper Grade A Cash U$/MT': 'U$',
 'Baltic Exchange Dry Index (BDI) - PRICE INDEX': 'U$',
 'LME-Aluminium 99.7% Cash U$/MT': 'U$',
 'Gold Bullion LBM $/t oz DELAY': 'U$',
 'Crude Oil BFO M1 Europe FOB $/BBl': 'U$',
 'RFV Natural Gas TTF NL 1st Fut. Day - SETT. PRICE': 'E',
 'NYMEX Natural Gas Henry Hub C1': 'U$',
 'ICE Natural Gas 1 Mth.Fwd. P/Therm': 'SP',
 'RFV Natural Gas TTF NL 1st Fut. Mth - SETT. PRICE': 'E',
 'Salmon Frozen Export': 'NK',
 'Salmon Fresh or Chilled Export': 'NK',
 'Fish Pool Salmon TRc1 NOK/KG - SETT. PRICE': 'NK',
 'Fish Pool Index Spot Salmon NOK/KG': 'NK',
 'LME-Nickel Cash U$/MT': 'U$',
 'LME-Cobalt 3 Month': 'U$',
 'Raw Sugar-ISA Daily Price c/lb': 'UC',
 'Soyabeans, No.1 Yellow $/Bushel': 'U$'}

In [13]:
factor_frame = get_factors_or_indices('data', 'Factors')
factor_frame.head()

,Crude Oil-WTI Spot Cushing U$/BBL,Europe Brent Spot FOB U$/BBL Daily,LME-Copper Grade A Cash U$/MT,Baltic Exchange Dry Index (BDI) - PRICE INDEX,LME-Aluminium 99.7% Cash U$/MT,Gold Bullion LBM $/t oz DELAY,Crude Oil BFO M1 Europe FOB $/BBl,RFV Natural Gas TTF NL 1st Fut. Day - SETT. PRICE,NYMEX Natural Gas Henry Hub C1,ICE Natural Gas 1 Mth.Fwd. P/Therm,RFV Natural Gas TTF NL 1st Fut. Mth - SETT. PRICE,Salmon Frozen Export,Salmon Fresh or Chilled Export,Fish Pool Salmon TRc1 NOK/KG - SETT. PRICE,Fish Pool Index Spot Salmon NOK/KG,LME-Nickel Cash U$/MT,LME-Cobalt 3 Month,Raw Sugar-ISA Daily Price c/lb,"Soyabeans, No.1 Yellow $/Bushel"
Name,,,,,,,,,,,,,,,,,,,
2013-01-01,91.82,110.8,7907,699,2041,1662.41,110.36,26.2,NaN,64.51,26.35,27.16,26.9,29.86,32.48,16998,25500,19.62,14.2
2013-01-02,93.12,112.98,8183.5,698,2127.25,1690.15,113.21,26,NaN,64.69,26.6,27.16,26.9,29.86,32.48,17644,25000,19.78,13.99
2013-01-03,92.92,113.03,8136.5,700,2082.5,1679.57,113.16,26.35,NaN,66.16,27.1,27.16,26.9,29.86,32.48,17446,25000,19.24,13.92
2013-01-04,93.09,112.58,8055,706,2027.25,1647.64,111.32,26.5,NaN,66.65,27.23,27.16,26.9,29.86,32.33,17294,25000,19.01,13.76
2013-01-07,93.19,112.49,8037.5,712,2029.25,1650.08,111.37,26.95,NaN,68.09,27.7,30.22,33.35,29.86,32.33,17145,25000,19.08,13.98

#### Writing factors to excel

In [22]:
factor_frame.to_excel('factors' + '.xlsx')

#### ISM-PMI
These factors are only reported on a monthly basis

In [16]:
ism = get_factors_or_indices('data', 'ISM-PMI')
ism.head()

,US ISM PURCHASING MANAGERS INDEX (MFG SURVEY) SADJ,US ISM NONMANUFACTURERS SURVEY INDEX: COMPOSITE SADJ,US CHICAGO PURCHASING MANAGER BUSINESS BAROMETER (SA) SADJ
Name,,,
2013-01-15,53.3,55.9,53.5
2013-02-15,54.2,56.6,55.9
2013-03-15,51.9,55.9,55.5
2013-04-15,51,54.3,50.3
2013-05-15,50.8,54.8,57.4

In [17]:
factor_frame.isnull().sum();

### Indices
Use the functions: 
* *get_factors_or_indices_curr*
* *get_factors_or_indices*

In [18]:
### Currencies
get_factors_or_indices_curr('data', 'Indices')

{'MSCI WORLD U$ - PRICE INDEX': 'U$',
 'MSCI EUROPE U$ - PRICE INDEX': 'U$',
 'S&P 500 COMPOSITE - PRICE INDEX': 'U$',
 'NASDAQ COMPOSITE - PRICE INDEX': 'U$',
 'FTSE 100 - PRICE INDEX': '£',
 'STOXX EUROPE 600 E - PRICE INDEX': 'E',
 'FRANCE CAC 40 - PRICE INDEX': 'E',
 'TOPIX - PRICE INDEX': 'Y',
 'FTSE ALL SHARE - PRICE INDEX': '£',
 'FTSE MIB INDEX - PRICE INDEX': 'E',
 'S&P/ASX 200 - PRICE INDEX': 'A$',
 'FTSE 250 - PRICE INDEX': '£',
 'HANG SENG - PRICE INDEX': 'K$',
 'IBEX 35 - PRICE INDEX': 'E',
 'EURO STOXX - PRICE INDEX': 'E',
 'S&P/TSX COMPOSITE INDEX - PRICE INDEX': 'C$',
 'SHANGHAI SE A SHARE - PRICE INDEX': 'CH',
 'SWISS MARKET (SMI) - PRICE INDEX': 'SF',
 'AEX INDEX (AEX) - PRICE INDEX': 'E',
 'AUSTRIAN TRADED INDEX - PRICE INDEX': 'E',
 'OMX STOCKHOLM 30 (OMXS30) - PRICE INDEX': 'SK',
 'TAIWAN SE WEIGHED TAIEX - PRICE INDEX': 'TW',
 'OMX COPENHAGEN (OMXC) - PRICE INDEX': 'DK',
 'OMX HELSINKI (OMXH) - PRICE INDEX': 'E',
 'OMX STOCKHOLM (OMXS) - PRICE INDEX': 'SK',
 'STRAITS TIMES INDEX L - PRICE INDEX': 'S$',
 'RUSSIA RTS INDEX - PRICE INDEX': 'U$',
 'MOEX RUSSIA INDEX - PRICE INDEX': 'UR'}

In [25]:
### Data
indices = get_factors_or_indices('data', 'Indices')

#### Writing indices to excel

In [26]:
indices.to_excel('indices.xlsx')