# Cleaning data
>This file contains functionality for writing data (timeseries and curreny-mappings) to the desired format to fasilitate further exploration and analysis. The *'data.xlsx'* file refers to the file where all the raw data gathered from datastream is stored.
>> Interest rates are gathered from Norges Bank

### Overview
* [Functonality](#Functionality)
* [Main Part](#Main-Part)
* [Equity Data](#Equity-Data)
* [Fundamental Pairs](#Fundamental-Pairs)
* [Valuta](#Valuta)
* [Factors](#Factors)
* [Indices](#Indices)

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [117]:
### GLOBAL VARIABLES

PERIOD_START = '2013-01-02'

COUNTRIES_all = ['Norway', 'France', 'US', 'UK', 'Italy', 'Canada',
             'Australia', 'Austria', 'Hong Kong', 'Japan', 'Sweden', 'Chile',
             'Denmark', 'Finland', 'China']

COUNTRIES_for = ['France', 'Italy', 'Canada',
                 'Australia', 'Austria', 'Hong Kong', 'Japan', 'Sweden', 'Chile',
                 'Denmark', 'Finland', 'China']

COUNTRIES_for_2 = ['US', 'UK', 'Spain', 'Germany', 'Swiss']

Fundamental_NOR = pd.ExcelFile('FUNDAMENTAL_PAIRS_3.xlsx').sheet_names

indices2 = ['Germany', 'Spain']

## Functionality

In [3]:
def curr_mapping(filename: str, countries: list, skiprows:int = 0) -> dict:
    """
    Extracts the currencies of each of the equties in each country
    Return a nested dictionary, with countries at the top level,
    and equties at the second
    """
    
    all = {}
    
    for c in countries:
        
        try:
            data = pd.read_excel(filename,
                                 sheet_name=c,
                                 skiprows=skiprows,
                                 index_col='Name')
        except:
            print("An error occured when reading the file")
            
        single = {}
        
        for e in data.columns:
            try:
                curr = data[e].loc['CURRENCY']
                e_name = e[:-17]
                single[e_name] = curr
            except:
                print("An error occured when fetching the currencies")
            
        
        all[c] = single
        
        print(f'{c} currency')
        
        
    return all

        
def curr_mapping_country(countries: list, skiprows:int = 3) -> dict:
    
    curr = {}
    
    for c in countries:
        
        try:
            df = pd.read_excel('data.xlsx',
                               sheet_name=c,
                               skiprows=skiprows,
                               index_col='Name')
        except:
            print("An error occured when reading the file")
            
        curr[c] = df.iloc[0,0]
        
    return curr


def get_contry_eq_curr(country:  str,
                       filename: str,
                       skiprows: int = 3,
                       start:    str ='2013-01-01') -> (pd.DataFrame, str):
    """
    Reads and cleans data the equties of the specified country,
    and returns a dataframe with each equity as a sepreate column
    """
    try:
        df = pd.read_excel(filename,
                           sheet_name=country,
                           skiprows=skiprows,
#                            index_col='Name'
                          )
    except:
        print("An error occured when reading the file")
        
    curr = df.iloc[0,0]
    df = df.drop('CURRENCY')
    
    df.index = df.index.astype(str).str[:-9]
    assert type(df.index[0]) == str, "Wrong index type"
    
    df = df[start:]
    
    df.dropna(axis=1, inplace=True)
    assert df.isnull().sum().sum() == 0, "Null values still exist"

    
    return df, curr


def get_eqt_mult(contries: list,
                 filename: str,
                 skiprows: int = 0,
                 start:    str = '2013-01-01',
                 write_to_excel = False) -> dict:
    """
    Reads and cleans data for the equties for the specified countries.
    Returns a dictionary with the countries as keys, and the corrsponding
    dataframe of equities as values
    """
    
    d = {}
    
    for c in contries:
        data = pd.read_excel(filename,
                           sheet_name=c,
                           skiprows=skiprows,
                           index_col='Name')
        data = data.drop('CURRENCY')
        
        data.index = data.index.astype(str).str[:-9]
        assert type(data.index[0]) == str, "Wrong index type"
        
        column_names= [t[:-17] for t in data.columns]
        data.columns = column_names
        
        data = data[start:]
        
        data = data.astype(float)
        
        data.dropna(axis=1, inplace=True)
        assert data.isnull().sum().sum() == 0, "Null values still exist"
        
        
        if write_to_excel:
            data.to_excel(c + '.xlsx')
            print(f'{c} has been written to Excel')
        
        d[c] = data
        print(f'{c} successfully')
        
        

    return d

## Main Part

### Equity Data

In [5]:
### Reading the raw equity data
data_equity_all = get_eqt_mult(COUNTRIES_all,
                               filename='MASTER_A.xlsx',
                               start=PERIOD_START,
                               write_to_excel=False)
df_obx = data_equity_all.pop('Norway')

Norway successfully
France successfully
US successfully
UK successfully
Italy successfully
Canada successfully
Australia successfully
Austria successfully
Hong Kong successfully
Japan successfully
Sweden successfully
Chile successfully
Denmark successfully
Finland successfully
China successfully

In [73]:
### Reading the raw equity data
data_additional_eqt = get_eqt_mult(['NO_EQ_200', 'Germany', 'Spain', 'US', 'UK', 'Swiss'],
                               filename='MASTER_A2.xlsx',
                               start=PERIOD_START,
                               write_to_excel=False)

NO_EQ_200 successfully
Germany successfully
Spain successfully
US successfully
UK successfully
Swiss successfully

In [74]:
data_additional_eqt['Spain'].columns

Index(['BANCO SANTANDER', 'IBERDROLA', 'INDITEX', 'BBV.ARGENTARIA',
       'CAIXABANK', 'RED ELECTRICA', 'TELEFONICA', 'AMADEUS IT GROUP',
       'EDP RENOVAVEIS', 'ENAGAS',
       ...
       'TUBACEX', 'TUBOS REUNIDOS', 'UNION CATALANA DVL.',
       'URBAR INGENIEROS LTD DATA', 'URBAS GUADAHERMOSA',
       'VERTICE TRESCIENTOS SESENTA GRADOS', 'VIDRALA', 'VISCOFAN', 'VOCENTO',
       'ZARDOYA OTIS'],
      dtype='object', length=114)

### Fundamental Pairs

In [106]:
### Reading the raw equity data
fund_pairs = get_eqt_mult(Fundamental_NOR,
                               filename='FUNDAMENTAL_PAIRS_3.xlsx',
                               start=PERIOD_START,
                               write_to_excel=False)

Equinor successfully
DNB successfully
Telenor successfully
Hydro successfully
Aker BP successfully
Yara successfully
Gjensidige successfully
Orkla successfully
Schibsted A successfully
AF gruppen A successfully
Arendals fossekompani successfully
Atea successfully
Borregaard successfully
Frontline successfully
Kongsberg gruppen successfully
Nordic Semiconductor successfully
Subsea 7 successfully
Walenius Wilhelmsen successfully

In [107]:
fund_pairs['DNB'].head()

,NORDEA BANK,SVENSKA HANDELSBANKEN A,DANSKE BANK,SKANDINAVISKA ENSKILDA BANKEN A,BNP PARIBAS,LLOYDS BANKING GROUP,BARCLAYS
Name,,,,,,,
2013-01-02,1094.73,10414.08,12299.64,3502.65,395.47,63.08,28930.32
2013-01-03,1093.02,10475.52,12387.77,3493.39,395.47,63.10,28972.30
2013-01-04,1104.14,10594.02,12545.13,3539.68,394.80,63.30,29045.79
2013-01-07,1104.14,10611.57,12803.21,3564.37,402.14,64.11,30148.00
2013-01-08,1103.28,10589.63,13017.22,3579.80,406.45,64.57,30148.00

### Valuta

In [6]:
### Mapping currency
curr_mapping = curr_mapping('MASTER_A.xlsx', COUNTRIES_for)
unique_currencies = set(val for dic in curr_mapping.values() for val in dic.values())

France currency
US currency
UK currency
Italy currency
Canada currency
Australia currency
Austria currency
Hong Kong currency
Japan currency
Sweden currency
Chile currency
Denmark currency
Finland currency
China currency

In [115]:
curr_mapping

### Valuta 2

In [75]:
### Mapping currency
curr_mapping_add = curr_mapping('MASTER_A2.xlsx', ['NO_EQ_200', 'Germany', 'Spain', 'US', 'UK', 'Swiss'])
unique_currencies_add = set(val for dic in curr_mapping_add.values() for val in dic.values())

NO_EQ_200 currency
Germany currency
Spain currency
US currency
UK currency
Swiss currency

In [76]:
set(curr_mapping_add['Swiss'].values())

{'E', 'SF', 'U$'}

In [99]:
curr_mapping_add

{'NO_EQ_200': {'EQUINOR': 'NK',
  'DNB BANK': 'NK',
  'MOWI': 'NK',
  'TELENOR': 'NK',
  'DNO': 'NK',
  'FRONTLINE': 'NK',
  'GAMING INNOVATION GROUP': 'NK',
  'GJENSIDIGE FORSIKRING': 'NK',
  'NORSK HYDRO': 'NK',
  'SCATEC': 'NK',
  'SCHIBSTED A': 'NK',
  'STOREBRAND': 'NK',
  'YARA INTERNATIONAL': 'NK',
  '5TH PLANET GAMES': 'NK',
  'ABG SUNDAL COLLIER HOLDING': 'NK',
  'AEGA': 'NK',
  "AF GRUPPEN 'A'": 'NK',
  'AKASTOR': 'NK',
  'AKER': 'NK',
  'AKER BP': 'NK',
  'AKER SOLUTIONS': 'NK',
  'AKVA GROUP': 'NK',
  'AQUALISBRAEMAR LOC': 'NK',
  'ARCHER': 'NK',
  'ARCTICZYMES TECHNOLOGIES': 'NK',
  'ARENDALS FOSSEKOMPANI': 'NK',
  'ASETEK': 'NK',
  'ATEA': 'NK',
  'AUSTEVOLL SEAFOOD': 'NK',
  'AVANCE GAS': 'NK',
  'AWILCO DRILLING': 'NK',
  'AWILCO LNG': 'NK',
  'AXACTOR': 'NK',
  'B2HOLDING': 'NK',
  'BAKKAFROST': 'NK',
  'BELSHIPS': 'NK',
  'BONHEUR': 'NK',
  "BORGESTAD 'A'": 'NK',
  'BORREGAARD': 'NK',
  'BOUVET': 'NK',
  'BW LPG': 'NK',
  'BW OFFSHORE': 'NK',
  'BYGGMA': 'NK',
  'CARASENT': 'NK',
  'CONTEXTVISION': 'NK',
  'DOF': 'NK',
  'EIDESVIK OFFSHORE': 'NK',
  'ELECTROMAG.GEOSVS.': 'NK',
  'ELKEM': 'NK',
  'ENDUR': 'NK',
  'ENSURGE MICROPOWER': 'NK',
  'ENTRA': 'NK',
  'EUROPRIS': 'NK',
  'FLEX LNG': 'NK',
  'GC RIEBER SHIPPING': 'NK',
  'GRIEG SEAFOOD': 'NK',
  'HAVILA SHIPPING': 'NK',
  'HAVYARD GROUP': 'NK',
  'HEXAGON COMPOSITES': 'NK',
  'HUNTER GROUP': 'NK',
  'IDEX BIOMETRICS': 'NK',
  'INTEROIL EXP.&. PRDN.': 'NK',
  'ITERA': 'NK',
  'JINHUI SHIPPING AND TRANSPORTATION': 'NK',
  'KAHOOT!': 'NK',
  'KID': 'NK',
  'KITRON': 'NK',
  'KLAVENESS COMBINATION CARRIERS': 'NK',
  'KMC PROPERTIES': 'NK',
  'KOMPLETT BANK': 'NK',
  'KONGSBERG GRUPPEN': 'NK',
  'LEROY SEAFOOD GROUP': 'NK',
  'MAGNORA': 'NK',
  'MAGSEIS FAIRFIELD': 'NK',
  'MEDI-STIM': 'NK',
  'MPC CONTAINER SHIPS': 'NK',
  'MULTICONSULT': 'NK',
  'NAPATECH': 'NK',
  'NAVAMEDIC': 'NK',
  'NEKKAR': 'NK',
  'NEL': 'NK',
  'NEXT BIOMETRICS GROUP': 'NK',
  'NORDIC MINING': 'NK',
  'NORDIC NANOVECT': 'NK',
  'NORDIC SEMICONDUCTOR': 'NK',
  'NORSKE SKOG': 'NK',
  'NORWAY ROYAL SALMON': 'NK',
  'NORWEGIAN AIR SHUTTLE': 'NK',
  'NRC GROUP': 'NK',
  'NTS': 'NK',
  'ODFJELL A': 'NK',
  'ODFJELL DRILLING': 'NK',
  'OLAV THON EIEP.': 'NK',
  'ORKLA': 'NK',
  'OTELLO CORPORATION': 'NK',
  'PANORO ENERGY': 'NK',
  'PARETO BANK': 'NK',
  'PGS': 'NK',
  'PHILLY SHIPYARD': 'NK',
  'PHOTOCURE': 'NK',
  'POLARIS MEDIA': 'NK',
  'PROSAFE': 'NK',
  'PROTECTOR FORSIKRING': 'NK',
  'Q-FREE': 'NK',
  'REACH SUBSEA': 'NK',
  'REC SILICON': 'NK',
  'SALMAR': 'NK',
  'SANDNES SPAREBANK': 'NK',
  'SATS': 'NK',
  'SBANKEN': 'NK',
  'SCANA': 'NK',
  'SEABIRD EXPLORATION': 'NK',
  'SELVAAG BOLIG': 'NK',
  'SIEM OFFSHORE': 'NK',
  'SOGN SPAREBANK': 'NK',
  'SOLSTAD OFFSHORE': 'NK',
  'SPAREBANK 1 SR-BANK': 'NK',
  'SPAREBANK 1 OSTLANDET': 'NK',
  'STOLT-NIELSEN': 'NK',
  'STRONGPOINT': 'NK',
  'SUBSEA 7': 'NK',
  'TARGOVAX': 'NK',
  'TECHSTEP': 'NK',
  'TGS': 'NK',
  'TOMRA SYSTEMS': 'NK',
  'TOTENS SPAREBANK': 'NK',
  'VEIDEKKE': 'NK',
  'VISTIN PHARMA': 'NK',
  'VOLUE': 'NK',
  'VOSS VEKSEL- OG LANDMANDSBANK': 'NK',
  'VOW': 'NK',
  'VOW GREEN METALS': 'NK',
  'WALLENIUS WILHELMSEN': 'NK',
  'WILSON': 'NK',
  'XXL': 'NK',
  'ZALARIS': 'NK',
  'RAK PETROLEUM': 'NK',
  'BLACK SEA PROPERTY': 'NK'},
 'Germany': {'MERCEDES-BENZ GROUP N': 'E',
  'VOLKSWAGEN': 'E',
  'ADIDAS': 'E',
  'BMW': 'E',
  'ALLIANZ': 'E',
  'DEUTSCHE BANK': 'E',
  'SAP': 'E',
  'SIEMENS': 'E',
  'BASF': 'E',
  'BAYER': 'E',
  'DEUTSCHE TELEKOM': 'E',
  'E ON N': 'E',
  'RWE': 'E',
  'COMMERZBANK': 'E',
  'DELIVERY HERO': 'E',
  'DEUTSCHE LUFTHANSA': 'E',
  'DEUTSCHE POST': 'E',
  'HENKEL': 'E',
  'VONOVIA': 'E',
  'ZALANDO': 'E',
  'BEIERSDORF': 'E',
  'BILFINGER BERGER': 'E',
  'BRENNTAG': 'E',
  'CONTINENTAL': 'E',
  'COVESTRO': 'E',
  'DAIMLER TRUCK HOLDING E': 'E',
  'DEUTSCHE BOERSE': 'E',
  'ENBW ENGE.BADEN-WURTG.': 'E',
  'EVONIK INDUSTRIES': 'E',
  'HANNOVER RUECK': 'E',
  'HELLOFRESH': 'E',
  'INFINEON TECHNOLOGIES': 'E',
  'KION GROUP': 'E',
  'MERCK KGAA': 'E',
  'MTU AERO ENGINES HLDG.': 'E',
  'MUENCHENER RUCK.': 'E',
  'PORSCHE AML.HLDG.PREF.': 'E',
  'PUMA': 'E',
  'RHEINMETALL': 'E',
  'SIEMENS ENERGY N': 'E',
  'SIEMENS HEALTHINEERS': 'E',
  'SOFTWARE N': 'E',
  'SYMRISE': 'E',
  'THYSSENKRUPP': 'E',
  'TUI': 'E',
  'UNIPER SE': 'E',
  'AAREAL BANK': 'E',
  'ADESSO': 'E',
  'ADIDAS (XET)': 'E',
  'ADLER GROUP': 'E',
  'AIXTRON': 'E',
  'ALSTRIA OFFICE REIT': 'E',
  'ATOSS SOFTWARE': 'E',
  'AURUBIS': 'E',
  'AUTO1 GROUP': 'E',
  'BAYER (XET)': 'E',
  'BECHTLE': 'E',
  'BIONTECH SE ADR 1:1': 'U$',
  'BOSS (HUGO)': 'E',
  'CANCOM': 'E',
  'CARL ZEISS MEDITEC': 'E',
  'DATAGROUP': 'E',
  'DELIVERY HERO (XET)': 'E',
  'ECKERT & ZIEGLER (XET)': 'E',
  'EVOTEC': 'E',
  'FRESENIUS': 'E',
  'FRESENIUS MED.CARE': 'E',
  'FUCHS PETROLUB N': 'E',
  'GEA GROUP': 'E',
  'GEA GROUP (XET)': 'E',
  'GELSENWASSER': 'E',
  'GERRY WEBER INTERNATIONAL': 'E',
  'GLOBAL FASHION GROUP': 'E',
  'HAMB.HAFEN UD.LOGISTIK': 'E',
  'HAPAG LLOYD': 'E',
  'HEIDELBERGCEMENT': 'E',
  'HENSOLDT': 'E',
  'HOCHTIEF': 'E',
  'KNORR BREMSE': 'E',
  'KUKA': 'E',
  'LANXESS': 'E',
  'LEG IMMOBILIEN': 'E',
  'METRO': 'E',
  'NORCOM INFO.TECH.': 'E',
  'PSI SOFTWARE': 'E',
  'RHEINMETALL (XET)': 'E',
  'SARTORIUS': 'E',
  'SCHAEFFLER (XET)': 'E',
  'SCOUT24': 'E',
  'SILTRONIC': 'E',
  'SILTRONIC (XET)': 'E',
  'SIXT': 'E',
  'TEAMVIEWER': 'E',
  'TELEFONICA DTL.HLDG.': 'E',
  'TRATON': 'E',
  'UNITED INTERNET': 'E',
  'WIRECARD': 'E',
  'ZALANDO (XET)': 'E',
  '1&1': 'E',
  '1&1 (XET)': 'E',
  '11 88 0 SOLUTIONS': 'E',
  '11 88 0 SOLUTIONS (XET)': 'E',
  '123FAHRSCHULE': 'E',
  '123FAHRSCHULE (XET)': 'E',
  '2G ENERGY': 'E'},
 'Spain': {'BANCO SANTANDER': 'E',
  'IBERDROLA': 'E',
  'INDITEX': 'E',
  'BBV.ARGENTARIA': 'E',
  'CAIXABANK': 'E',
  'RED ELECTRICA': 'E',
  'TELEFONICA': 'E',
  'AMADEUS IT GROUP': 'E',
  'CELLNEX TELECOM': 'E',
  'EDP RENOVAVEIS': 'E',
  'ENAGAS': 'E',
  'INTL.CONS.AIRL.GP.': '£',
  'NATURGY ENERGY': 'E',
  'REPSOL YPF': 'E',
  'ABENGOA': 'E',
  'ACCIONA': 'E',
  'ACS ACTIV.CONSTR.Y SERV.': 'E',
  'AENA SME': 'E',
  'BANCO DE SABADELL': 'E',
  'EDREAMS ODIGEO': 'E',
  'ENDESA': 'E',
  'FERROVIAL': 'E',
  'FLUIDRA': 'E',
  'GRIFOLS ORD CL A': 'E',
  'INDRA SISTEMAS': 'E',
  'MAPFRE': 'E',
  'MERLIN PROPERTIES REIT': 'E',
  '1NKEMIA UICT GROUP': 'E',
  "ACERINOX 'R'": 'E',
  'ADL BIONATUR SOLUTIONS': 'E',
  'ADOLFO DOMINGUEZ': 'E',
  'ADRIANO CARE SOCIMI': 'E',
  'ADVERO PROPERTIES SOCIMI': 'E',
  'AEDAS HOMES': 'E',
  'AETERNAL MENTIS': 'E',
  'AGILE CONTENT': 'E',
  'AIRTIFICIAL INTEL STR': 'E',
  'AKILES CORPORATION': 'E',
  'ALANTRA PARTNERS': 'E',
  'ALBIRANA PROPERTIES SOCIMI': 'E',
  'ALL IRON RE I SOCIMI': 'E',
  'ALMAGRO CAPITAL': 'E',
  'ALMIRALL': 'E',
  'ALQUIBER QUALITY': 'E',
  'ALTIA CONSULTORES': 'E',
  'AM LOCALES PROP': 'E',
  'AMPER': 'E',
  'AP67': 'E',
  'APPLUS SERVICIOS TECHNOLOGICOS': 'E',
  'ARIMA REAL ESTATE': 'E',
  'ARRIENDA RENTAL PROPERTIES': 'E',
  'ARTECHE LANTEGI ELKARTEA': 'E',
  'ASTURIANA DE LAMINADOS': 'E',
  'ATOM HOTELES SOCIMI': 'E',
  'ATRESMEDIA CORP': 'E',
  'ATRYS HEALTH': 'E',
  'AUDAX RENOVABLES': 'E',
  'AYCO GRUPO INMOBILIARIO': 'E',
  'AZARIA RENTAL': 'E',
  'AZKOYEN': 'E',
  "BANKINTER 'R'": 'E',
  'BARCINO PROPERTY': 'E',
  'BODEGAS RIOJANAS': 'E',
  'BORGES AGRICULTURE (AGROFRUSE)': 'E',
  'CAJA DE AHORROS DEL MEDITERRANEO': 'E',
  'CASTELLANA PROPERTIES': 'E',
  'CATENON SA': 'E',
  'CEMENTOS MOLINS': 'E',
  'CEVASA': 'E',
  'CIE AUTOMOTIVE': 'E',
  'CLEOP SUSP - 30/04/15': 'E',
  'CLERHP ESTRCTUR': 'E',
  'CLEVER GLOBAL': 'E',
  'CLINICA BAVIERA': 'E',
  'CLUB DE FUTBOL INTERCITY': 'E',
  'CODERE SA': 'E',
  'COMMCENTER': 'E',
  'CONST Y AUXILIAR DE FERR': 'E',
  'CORP EMPRESARIAL': 'E',
  'CORPFIN CAPITAL': 'E',
  'CORPFIN CAPITAL PRIME RETAIL II SOCI': 'E',
  'CORPORACION ACCIONA ENERGIAS RENOVABLES': 'E',
  'CORPORACION FINCA.ALBA': 'E',
  'DEOLEO': 'E',
  'DESARROLLOS ERMITA DEL SANTO SOCIMI': 'E',
  'DESARROLLOS ESPECIAL SIST ANCLAJE': 'E',
  'DISTRIBUIDORA INTNAC.DE ALIMENTACION': 'E',
  'DOMO ACTIVOS': 'E',
  'DURO FELGUERA': 'E',
  'EBRO FOODS': 'E',
  'ECCOWOOD INVEST': 'E',
  'ELAIA INVESTMENT SPAIN': 'E',
  'ELECNOR': 'E',
  'ELIX VINTAGE RESIDENCIAL': 'E',
  'ENCE ENERGIA Y CELULOSA': 'E',
  'ENDURANCE MOTIVE': 'E',
  'ENERG A INNOVACI N Y DSRRL.FOTOVOLTAICO': 'E',
  'ENERSIDE ENERGY': 'E',
  'ENTRE CUA SOCIMI': 'E',
  'ERCROS': 'E',
  'EUROCONSULT ENGR.CNSL.G': 'E',
  'EUROESPES': 'E',
  'EXCEM CAPNS.SOCE. INVN. RSDL.': 'E',
  'FACEPHI BIOMETRIA': 'E',
  'FAES FARMA': 'E',
  'FIDERE PATRIMONI': 'E',
  'FIN.INMUEBLES CISNEROS': 'E',
  'FOMENTO CONSTR.Y CNTR.': 'E',
  'GALIL CAPITAL RE SPAIN': 'E',
  'GAVARI PROPERTIES SOCIMI': 'E',
  'GENERAL DE ALQUILER DE MAQUINARIA': 'E',
  'GENERAL DE GALERIAS COMERCIALES ORS': 'E',
  'GESTAMP AUTOMOCION': 'E',
  'GIGAS HOSTING': 'E',
  'GLOBAL DOMINION ACCESS': 'E',
  'GMP PROPERTY': 'E',
  'GORE SPAIN HLDG': 'E',
  'GPO.EMPRESARIAL SAN JOSE': 'E',
  'GREENALIA': 'E',
  'GREENOAK SPAIN HOLDINGS SOCIMI II': 'E',
  'GRENERGY RENOVABLES': 'E',
  'GRINO ECOLOGIC': 'E',
  'GRUPO CATALANA OCCIDENTE': 'E',
  'GRUPO ECOENER U': 'E',
  'GRUPO EZENTIS': 'E',
  'GRUPO ORTIZ PROPERTIES': 'E',
  'HISPANOTELS INVERSIONES SOCIMI': 'E',
  'HOLALUZ CLIDOM': 'E',
  'HOME CAPITAL RENTALS SOCIMI': 'E',
  'HOME MEAL': 'E',
  'IBERPAPEL GESTION': 'E',
  'IFFE FUTURA': 'E',
  'INBEST PRIME I INMUEBLES': 'E',
  'INBEST PRIME II INMUEBLES': 'E',
  'INBEST PRIME III INMUEBLES': 'E',
  'INBEST PRIME IV INMUEBLES': 'E',
  'INBEST PRIME VI INMUEBLES SOCIMI': 'E',
  'INBEST PRIME VII INMUEBLES SOCIMI': 'E',
  'INBEST PRIME VIII INMUEBLES SOCIMI': 'E',
  'INCLAM': 'E',
  'INMOBILIARIA COLONIAL': 'E',
  'INMOBILIARIA DEL SUR LIMITED DATA': 'E',
  'INMOBILIARIA PARK ROSE IBEROAMERICANA': 'E',
  'INMOFAM 99 SOCIM': 'E',
  'INVER DOALCA': 'E',
  'ISC FRESH WATER': 'E',
  'ISPD NETWORK': 'E',
  'IZERTIS': 'E',
  'JABA I INVERSION': 'E',
  'JAZZTEL (OTC)': 'U$',
  'LA FINCA GLOBAL ASSETS SOCIMI': 'E',
  'LABORATORIO REIG JOFRE': 'E',
  'LAR ESPANA RLST.SOCIMI': 'E',
  'LBOS.FARMACEUTICOS ROVI': 'E',
  'LIBERTAS 7': 'E',
  'LINEA DIRECTA ASEGURADORA': 'E',
  'LINGOTES ESPECIALES': 'E',
  'LIWE ESPANOLA LIMITED DATA': 'E',
  'LLEIDANETWORKS': 'E',
  'LLORENTE Y CUENCA': 'E',
  'LOGISTA HOLD': 'E',
  'MAKING SCIENCE GROUP': 'E',
  'MANSFIELD INVEST SOCIMI': 'E',
  'MEDCOMTECH SA': 'E',
  'MEDIA INVESTMENT OPTIMIZATION': 'E',
  'MEDIASET ESPANA COMUNICACION': 'E',
  'MELIA HOTELS INTL.': 'E',
  'MERCAL IN SOCIMI': 'E',
  'MERIDIA REAL ESTATE MERIDIA REAL EST': 'E',
  'METROVACESA': 'E',
  'MILLENIUM HOTELS REAL ESTATE': 'E',
  'MINERSA': 'E',
  'MIQUEL Y COSTAS': 'E',
  'MISTRAL IBERIA REAL ESTATE SOCIMI': 'E',
  'MISTRAL PATRIMONIO INMOBILIARIO': 'E',
  'MOBILIARIA MONESA': 'E',
  'MONDO TV STUDIOS': 'E',
  'MONTEBALITO': 'E',
  'NATURHOUSE HEALTH': 'E',
  'NBI BEARINGS': 'E',
  'NEINOR HOMES': 'E',
  'NETEX KNOWLEDGE FACTORY': 'E',
  'NEXTPOINT CAPITAL': 'E',
  'NH HOTEL GR': 'E',
  'NICOLAS CORREA': 'E',
  'NPG TECHNOLOGY SUSP - 04/05/15': 'E',
  'NUEVA EXPRESION TEXTIL': 'E',
  'NUMULAE SERVICIO': 'E',
  'NYESA VALORES': 'E',
  'OBRASCON HUARTE LAIN': 'E',
  'OLIMPO REAL ESTA': 'E',
  'OPTIMUM RE SPAIN': 'E',
  'OPTIMUS III': 'E',
  'ORYZON GENOMICS': 'E',
  'P3 SPAIN LOGISTIC PARKS': 'E',
  'PANGAEA ONCOLOGY': 'E',
  'PARLEM TELC. COMPANYIA DE TELECOMUNIC': 'E',
  'PERSEPOLIS INVESTMENTS 1 SOCIMI': 'E',
  'PESCANOVA': 'E',
  'PHARMA MAR': 'E',
  'PLASTICOS COMPUESTOS': 'E',
  'PREVISION SANITARIA NACIONAL GESTION': 'E',
  'PRIM': 'E',
  'PROEDUCA ALTUS': 'E',
  'PROFITHOL': 'E',
  "PROMOTORA DE INFIC. 'A' (GRUPO PRISA)": 'E',
  'PROSEGUR CASH': 'E',
  'PROSEGUR CIA.SECURIDAD': 'E',
  'QUID PRO QUO ALQUILER SEGURO': 'E',
  'QUONIA SOCIMI': 'E',
  'REALIA BUSINESS': 'E',
  'RENTA 4 SERV.DE INVN.': 'E',
  'RENTA CORPN.REAL ESTATE': 'E',
  'ROBOT': 'E',
  'SACYR': 'E',
  'SECUOYA GPO.DE COMCIOS.': 'E',
  'SERRANO 61 DESARROLLO': 'E',
  'SERVICE POINT SOLUTIONS': 'E',
  'SIEMENS GAMESA RENEWABLE ENERGY': 'E',
  'SILICIUS REAL ESTATE': 'E',
  'SINGULAR PEOPLE': 'E',
  'SOLARIA ENERGIA Y MEDIO AMBIENTE': 'E',
  'SOLTEC POWER HOLDINGS': 'E',
  'SOLUCIONES CUATROOCHENTA': 'E',
  'STUDENT PROP SP': 'E',
  'TALGO': 'E',
  'TANDER INVERSIONES': 'E',
  'TARJAR XAIRO': 'E',
  'TECHNOMECHA AEROSPACE': 'E',
  'TECNICAS REUNIDAS': 'E',
  'TEMPORE PROPERTIES': 'E',
  'TESTA RESIDENCIAL': 'E',
  'TIER1 TECHNOLOGY': 'E',
  'TORIMBIA SOCIMI': 'E',
  'TR HOTEL': 'E',
  'TRAJANO IBER SOC': 'E',
  'TRIVIUM REAL ESTATE': 'E',
  'TUBACEX': 'E',
  'TUBOS REUNIDOS': 'E',
  'UNICAJA BANCO': 'E',
  'UNION CATALANA DVL.': 'E',
  'URBAN VIEW DEVELOPMENT SPAIN': 'E',
  'URBAR INGENIEROS LTD DATA': 'E',
  'URBAS GUADAHERMOSA': 'E',
  'URO PROP HOLD': 'E',
  'VBARE IBERIAN PROPERTIES SOCIMI': 'E',
  'VERACRUZ PROPERTIES': 'E',
  'VERTICE TRESCIENTOS SESENTA GRADOS': 'E',
  'VIDRALA': 'E',
  'VISCOFAN': 'E',
  'VITRUVIO': 'E',
  'VIVENIO RESIDENCIAL': 'E',
  'VOCENTO': 'E',
  'VYTRUS BIOTECH': 'E',
  'ZAMBAL SPAIN SOCIMI': 'E',
  'ZARDOYA OTIS': 'E'},
 'US': {'APPLE': 'U$',
  'DYCOM INDS.': 'U$',
  'MICROSOFT': 'U$',
  'AMAZON.COM': 'U$',
  'TESLA': 'U$',
  'PROSPERITY BCSH.': 'U$',
  'ALPHABET A': 'U$',
  'PARKER-HANNIFIN': 'U$',
  'PLANET LABS A': 'U$',
  'NVIDIA': 'U$',
  'JP MORGAN CHASE & CO.': 'U$',
  'WHEELS UP EXPERIENCE A': 'U$',
  'MP MATERIALS A': 'U$',
  'CITIGROUP': 'U$',
  'JOHNSON & JOHNSON': 'U$',
  'META PLATFORMS A': 'U$',
  'MSCI': 'U$',
  'EXXON MOBIL': 'U$',
  'INGERSOLL RAND': 'U$',
  'SM ENERGY': 'U$',
  'CHEVRON': 'U$',
  'INTERNATIONAL BUS.MCHS.': 'U$',
  'S&P GLOBAL': 'U$',
  'BANK OF AMERICA': 'U$',
  'EVENTBRITE A': 'U$',
  'INTEL': 'U$',
  'WALMART': 'U$',
  'COCA COLA': 'U$',
  'NASDAQ': 'U$',
  'SPX': 'U$',
  'TOOTSIE ROLL': 'U$',
  'UNITEDHEALTH GROUP': 'U$',
  "VISA 'A'": 'U$',
  'WALT DISNEY': 'U$',
  'BOEING': 'U$',
  'CATERPILLAR': 'U$',
  'CISCO SYSTEMS': 'U$',
  'DESKTOP METAL A': 'U$',
  'FORD MOTOR': 'U$',
  'GENERAL MOTORS': 'U$',
  'GOLDMAN SACHS GP.': 'U$',
  'HOME DEPOT': 'U$',
  'MCDONALDS': 'U$',
  "NIKE 'B'": 'U$',
  'PARTS ID A': 'U$',
  'PAYPAL HOLDINGS': 'U$',
  'PFIZER': 'U$',
  'PROCTER & GAMBLE': 'U$',
  'VERIZON COMMUNICATIONS': 'U$',
  '3M': 'U$',
  'ACCENTURE CLASS A': 'U$',
  'ADOBE (NAS)': 'U$',
  'ADVANCED MICRO DEVICES': 'U$',
  'AMERICAN EXPRESS': 'U$',
  'AT&T': 'U$',
  'DYNATRACE': 'U$',
  'FEDERAL REALTY INV.TST.': 'U$',
  'GENERAL ELECTRIC': 'U$',
  'ION GEOPHYSICAL': 'U$',
  'MARATHON OIL': 'U$',
  'NETFLIX': 'U$',
  'NEWPARK RESOURCES': 'U$',
  'O I GLASS': 'U$',
  'SMITH (AO)': 'U$',
  'STARBUCKS': 'U$',
  'WELLS FARGO & CO': 'U$',
  'ANTERO RESOURCES': 'U$',
  'ARCHER DANIELS MIDLAND': 'U$',
  'ASSOCIATED CAPITAL GROUP': 'U$',
  'BYLINE BANCORP': 'U$',
  'CONOCOPHILLIPS': 'U$',
  'COSTCO WHOLESALE': 'U$',
  'DOW ORD SHS': 'U$',
  'DUPONT DE NEMOURS': 'U$',
  'EBAY': 'U$',
  'EQT': 'U$',
  'EVERCORE A': 'U$',
  'EVERSOURCE ENERGY': 'U$',
  'GLOBAL CORD BLOOD': 'U$',
  'HONEYWELL INTL.': 'U$',
  'INSTALLED BUILDING PRDS.': 'U$',
  'LOEWS': 'U$',
  'MASTERCARD': 'U$',
  'MERCK & COMPANY': 'U$',
  'MORGAN STANLEY': 'U$',
  'ORACLE': 'U$',
  'PEPSICO': 'U$',
  'PRUDENTIAL FINL.': 'U$',
  'RAYTHEON TECHNOLOGIES': 'U$',
  'ROCKET COMPANIES A': 'U$',
  'AMGEN': 'U$',
  'BAKER HUGHES A': 'U$',
  'BANK OF NEW YORK MELLON': 'U$',
  'ABBOTT LABORATORIES': 'U$',
  'ABBVIE': 'U$',
  'ACTIVISION BLIZZARD': 'U$',
  'ADT': 'U$',
  'AMER.ELEC.PWR.': 'U$',
  'AMERICAN AIRLINES GROUP': 'U$',
  'ANSYS': 'U$',
  'ANTHEM': 'U$',
  'APPLIED MATS.': 'U$',
  'ARDMORE SHIPPING': 'U$',
  'ASHFORD HOSPLTY.TST.': 'U$',
  'AUTODESK': 'U$',
  "BERKSHIRE HATHAWAY 'A'": 'U$',
  'BLACKROCK': 'U$',
  'BLACKSTONE': 'U$',
  'BLOCK A': 'U$',
  'BOOKING HOLDINGS': 'U$',
  'BROADCOM': 'U$',
  'CF INDUSTRIES HDG.': 'U$',
  'CHENIERE EN.': 'U$',
  'CNA FINANCIAL': 'U$',
  'COMCAST A': 'U$',
  'CROWDSTRIKE HOLDINGS A': 'U$',
  'DANAHER': 'U$',
  'DELL TECHNOLOGIES C': 'U$',
  'DEVON ENERGY': 'U$',
  'ELECTRONIC ARTS': 'U$',
  'ELI LILLY': 'U$',
  'EOG RES.': 'U$',
  'EQUINIX REIT': 'U$',
  'EXPEDIA GROUP': 'U$',
  'FEDEX': 'U$',
  'FIDELITY NAT.INFO.SVS.': 'U$',
  'FIRST REPUBLIC BANK': 'U$',
  'FISERV': 'U$',
  'FLEXIBLE SOLUTIONS INTL.': 'U$',
  'GENERAL DYNAMICS': 'U$',
  'GRAYSCALE BITCOIN UNITS': 'U$',
  'HEWLETT PACKARD ENTER.': 'U$',
  'HP': 'U$',
  'KKR AND': 'U$',
  'LAM RESEARCH': 'U$',
  'LIBERTY GLOBAL CL.A': 'U$',
  'LINDE': 'U$',
  'LOCKHEED MARTIN': 'U$',
  'MATTEL': 'U$',
  'MODERNA': 'U$',
  'MONDELEZ INTERNATIONAL CL.A': 'U$',
  "MOODY'S": 'U$',
  'NEXTERA ENERGY': 'U$',
  'OCCIDENTAL PTL.': 'U$',
  'OKTA CL.A': 'U$',
  'OWENS CORNING': 'U$',
  'PARSONS': 'U$',
  'PELOTON INTERACTIVE A': 'U$',
  'QUALCOMM': 'U$',
  'SALESFORCE.COM': 'U$',
  'SERVICENOW': 'U$',
  'SERVOTRONICS': 'U$',
  'SPOTIFY TECHNOLOGY': 'U$',
  'T-MOBILE US': 'U$',
  'THERMO FISHER SCIENTIFIC': 'U$',
  'TWITTER': 'U$',
  'UBER TECHNOLOGIES': 'U$',
  'UNITED STATES STEEL': 'U$',
  'UPHEALTH': 'U$',
  'WORKDAY CLASS A': 'U$',
  'ZOOM VIDEO COMMUNICATIONS A': 'U$',
  '10X GENOMICS A': 'U$',
  '2U': 'U$',
  'ABM INDS.': 'U$',
  'ACI WORLDWIDE': 'U$'},
 'UK': {'BP': '£',
  'SHELL': 'E',
  'UNILEVER (UK)': '£',
  'BARCLAYS': '£',
  'VODAFONE GROUP': '£',
  'ASTRAZENECA': '£',
  'BAE SYSTEMS': '£',
  'GLENCORE': '£',
  'HSBC HOLDINGS': '£',
  'LLOYDS BANKING GROUP': '£',
  'NATWEST GROUP': '£',
  'TESCO': '£',
  'TIME FINANCE': '£',
  'ANGLO AMERICAN': '£',
  'AVIVA': '£',
  'BT GROUP': '£',
  'DIAGEO': '£',
  'RECKITT BENCKISER GROUP': '£',
  'RIO TINTO': '£',
  'SAINSBURY J': '£',
  'AUTO TRADER GROUP': '£',
  'AVEVA GROUP': '£',
  'BANK OF GEORGIA GROUP': '£',
  'BRITISH AMERICAN TOBACCO': '£',
  'BUNZL': '£',
  'BURBERRY GROUP': '£',
  'COCA-COLA HBC': '£',
  'CRODA INTERNATIONAL': '£',
  'EVRAZ SUSP - 10/03/2022': '£',
  'EXPERIAN': '£',
  'FERGUSON': '£',
  'GLAXOSMITHKLINE': '£',
  'LEGAL & GENERAL': '£',
  'LONDON STOCK EXCHANGE GROUP': '£',
  'MEGGITT': '£',
  'MONDI': '£',
  'NATIONAL GRID': '£',
  'NEXT': '£',
  'OCADO GROUP': '£',
  'POLYMETAL INTERNATIONAL': '£',
  'ROLLS-ROYCE HOLDINGS': '£',
  'SSE': '£',
  'STANDARD CHARTERED': '£',
  'T42 IOT TRACKING SOLUTIONS': '£',
  'ADMIRAL GROUP': '£',
  'ANTOFAGASTA': '£',
  'ASHTEAD GROUP': '£',
  'ASOS': '£',
  'ASSOCIATED BRIT.FOODS': '£',
  'BABCOCK INTERNATIONAL': '£',
  'BRITISH LAND': '£',
  'CENTRICA': '£',
  'COMPASS GROUP': '£',
  'ENTAIN': '£',
  'FRESNILLO': '£',
  'HALMA': '£',
  'HARBOUR ENERGY': '£',
  'ICTL.HTLS.GP.': '£',
  'INFORMA': '£',
  'INTERTEK GROUP': '£',
  'JD SPORTS FASHION': '£',
  'KINGFISHER': '£',
  'M&G': '£',
  'MELROSE INDUSTRIES': '£',
  'PEARSON': '£',
  'PERSIMMON': '£',
  'PRUDENTIAL': '£',
  'RELX': '£',
  'RENTOKIL INITIAL': '£',
  'RIGHTMOVE': '£',
  'ROTORK': '£',
  'SAGE GROUP': '£',
  'SEGRO': '£',
  'SEVERN TRENT': '£',
  'SMITH (DS)': '£',
  'SMITHS GROUP': '£',
  'SPIRAX-SARCO ENGR.': '£',
  'WHITBREAD': '£',
  'ABRDN': '£',
  'ACCESS INTELLIGENCE': '£',
  'ADEPT TECHNOLOGY GROUP': '£',
  'AFC ENERGY': '£',
  'AIRTEL AFRICA': '£',
  'ALLFUNDS GROUP': 'E',
  'ASCENTIAL': '£',
  'ASTON MARTIN LAGONDA GLOBAL HOLDINGS': '£',
  'AVAST': '£',
  'B&M EUROPEAN VAL.RET.': '£',
  'BARCLAYS BANK IPATH LKD. GSCI TOR.IDX.12/06/36': 'U$',
  'BARRATT DEVELOPMENTS': '£',
  'BCY.IPATH SR.B SP5. VIX SOM.FUT.ETN': 'U$',
  'BERKELEY GROUP HOLDINGS (THE)': '£',
  'BODYCOTE': '£',
  'BOOHOO GROUP': '£',
  'BYTES TECHNOLOGY GROUP': '£',
  'CAMELLIA': '£',
  'CAPITA': '£',
  'CARNIVAL': '£',
  'CENTRALNIC GROUP': '£',
  'CERES POWER HOLDINGS': '£',
  'COMPUTACENTER': '£',
  'CRANSWICK': '£',
  'CRIMSON TIDE': '£',
  'D4T4 SOLUTIONS': '£',
  'DARKTRACE': '£',
  'DCC': '£',
  'DECHRA PHARMACEUTICALS': '£',
  'DELIVEROO A': '£',
  'DIRECT LINE IN.GROUP': '£',
  'DISCOVERIE GROUP': '£',
  'DOTDIGITAL GROUP': '£',
  'DR MARTENS': '£',
  'EASYJET': '£',
  'ELECTROCOMP.': '£',

### Valuta 3

In [114]:
curr_mapping_fund['Equinor']

{'BP': '£',
 'SHELL': 'E',
 'ENI': 'E',
 'TOTALENERGIES': 'E',
 'EXXON MOBIL': 'U$',
 'CHEVRON': 'U$'}

In [108]:
### Mapping currency
curr_mapping_fund = curr_mapping('FUNDAMENTAL_PAIRS_3.xlsx', fund_pairs)
unique_currencies_add = set(val for dic in curr_mapping_fund.values() for val in dic.values())

Equinor currency
DNB currency
Telenor currency
Hydro currency
Aker BP currency
Yara currency
Gjensidige currency
Orkla currency
Schibsted A currency
AF gruppen A currency
Arendals fossekompani currency
Atea currency
Borregaard currency
Frontline currency
Kongsberg gruppen currency
Nordic Semiconductor currency
Subsea 7 currency
Walenius Wilhelmsen currency

In [109]:
unique_currencies_add

{'C$', 'DK', 'E', 'I£', 'NK', 'SF', 'SK', 'TW', 'U$', '£'}

In [259]:
### Reading currency
df_forex = pd.read_excel('VALUTA_CLEAN.xlsx', index_col='Unnamed: 0'
                         )
df_forex.rename(columns={'EUR': 'E',
                         'USD': 'U$',
                         'GBP': '£',
                         'CAD': 'C$',
                         'AUD': 'A$',
                         'JPY': 'Y',
                         'SEK': 'SK',
                         'DKK': 'DK',
                         'RUB': 'UR',
                         'HKD': 'K$',
                         'CNY': 'CH',
                         'CHF': 'SF',
                         'TWD': 'TW',
                         'IDR': 'I£'
                         }, inplace=True)
df_forex = df_forex[PERIOD_START:]
df_forex.index = df_forex.index.astype(str)
df_forex = df_forex.reindex(fund_pairs['DNB'].index, axis='index')
df_forex = df_forex.fillna(method = 'ffill', limit=3)
df_forex.head()

,A$,BDT,BGN,BRL,BYN,C$,SF,CH,CZK,DK,...,SK,SGD,THB,TRY,TW,TWI,U$,VND,XDR,ZAR
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-02,5.7905,NaN,3.7414,2.7032,NaN,5.6030,6.0525,0.8852,0.29017,0.9809,...,0.8538,4.5214,0.18186,3.1014,0.19021,90.22,5.5176,NaN,8.49825,0.6511
2013-01-03,5.8468,NaN,3.7281,2.7179,NaN,5.6423,6.0310,0.8924,0.28866,0.9774,...,0.8538,4.5518,0.18324,3.1222,0.19198,90.16,5.5652,NaN,8.53470,0.6481
2013-01-04,5.8420,NaN,3.7320,2.7445,NaN,5.6595,6.0362,0.9003,0.28787,0.9785,...,0.8556,4.5579,0.18385,3.1344,0.19318,90.30,5.6094,NaN,8.55374,0.6482
2013-01-07,5.8820,NaN,3.7356,2.7598,NaN,5.6763,6.0445,0.8993,0.28607,0.9794,...,0.8581,4.5563,0.18407,3.1439,0.19311,90.40,5.6032,NaN,8.55760,0.6519
2013-01-08,5.8764,NaN,3.7455,2.7661,NaN,5.6791,6.0581,0.8993,0.28630,0.9819,...,0.8541,4.5557,0.18390,3.1466,0.19296,90.44,5.5980,NaN,8.57660,0.6527

In [31]:
df_forex.index = pd.to_datetime(df_forex.index)

In [32]:
df_forex_weekly = df_forex.resample('W-Mon').sum()
df_forex_weekly

,A$,BDT,BGN,BRL,BYN,C$,CHF,CH,CZK,DK,...,SK,SGD,THB,TRY,TWD,TWI,U$,VND,XDR,ZAR
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-07,23.3613,0.0000,14.9371,10.9254,0.0000,22.5811,24.1642,3.5772,1.15277,3.9162,...,3.4213,18.1874,0.73302,12.5019,0.76848,361.08,22.2954,0.000000,34.14429,2.5993
2013-01-14,29.3378,0.0000,18.7442,13.6837,0.0000,28.2282,30.2054,4.4721,1.43236,4.9135,...,4.2646,22.6856,0.91772,15.6834,0.96063,451.60,27.8290,0.000000,42.66202,3.2205
2013-01-21,29.3378,0.0000,18.9840,13.6544,0.0000,28.1884,29.9251,4.4807,1.45036,4.9752,...,4.2905,22.7341,0.93432,15.7887,0.96200,454.97,27.8668,0.000000,42.84539,3.1554
2013-01-28,29.0817,0.0000,18.9810,13.6126,0.0000,27.7263,29.8894,4.4587,1.44895,4.9747,...,4.2751,22.5503,0.92963,15.6815,0.95135,453.37,27.7419,0.000000,42.61503,3.0915
2013-02-04,28.5730,0.0000,18.9876,13.7893,0.0000,27.3844,30.0207,4.4042,1.44795,4.9778,...,4.3141,22.1452,0.92010,15.5556,0.92735,452.53,27.4193,0.000000,42.23074,3.0504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-21,32.0369,0.5185,25.8931,8.6506,17.3286,35.0868,48.4120,7.0375,2.07806,6.8065,...,4.7834,33.1624,1.38325,3.2721,1.60061,596.55,44.5955,0.001957,62.26029,2.9563
2022-02-28,32.1554,0.5179,25.6391,8.7498,16.0395,34.9492,48.3037,7.0522,2.02687,6.7398,...,4.7227,32.9806,1.37085,3.1997,1.59329,590.23,44.5638,0.001952,61.96244,2.9254
2022-03-07,25.6684,0.4112,20.1652,6.8472,11.8332,27.8564,38.4884,5.5972,1.54876,5.3028,...,3.6896,26.0324,1.08036,2.5360,1.25888,462.72,35.3336,0.001548,48.98164,2.2912
2022-03-14,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00000,0.0000,...,0.0000,0.0000,0.00000,0.0000,0.00000,0.00,0.0000,0.000000,0.00000,0.0000
2022-03-21,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00000,0.0000,...,0.0000,0.0000,0.00000,0.0000,0.00000,0.00,0.0000,0.000000,0.00000,0.0000

#### mapping currencies to equities

In [62]:
for country in data_equity_all.keys():
    for equity, currency in zip(data_equity_all[country], curr_mapping[country].values()):
        if currency in ['NK', 'CE']:
            continue

        data_equity_all[country][equity] =\
        data_equity_all[country][equity].mul(df_forex[currency])
        print(equity)
    print('***********************', country)

am = data_equity_all['US']

LVMH
L'OREAL
TOTALENERGIES
HERMES INTL.
SANOFI
CHRISTIAN DIOR
AIRBUS
BNP PARIBAS
KERING
SCHNEIDER ELECTRIC
ESSILORLUXOTTICA
L AIR LQE.SC.ANYME. POUR L ETUDE ET L EPXTN.
AXA
VINCI
DASSAULT SYSTEMES
PERNOD-RICARD
SAFRAN
CREDIT AGRICOLE
DANONE
ENGIE
SOCIETE GENERALE
ORANGE
STMICROELECTRONICS
CAPGEMINI
SARTORIUS STEDIM BIOTECH
SAINT GOBAIN
CMPG.DES ETS.MICH.
EDF
VEOLIA ENVIRON
LEGRAND
CARREFOUR
CNP ASSURANCES
EUROFINS SCIEN.
PUBLICIS GROUPE
RENAULT
TELEPERFORMANCE
THALES
ACCOR
ADP
BOLLORE
EIFFAGE
UNIBAIL RODAMCO WE STAPLED UNITS
ALSTOM
ARKEMA
BIOMERIEUX
BOUYGUES
BUREAU VERITAS
DASSAULT AVIATION
EDENRED
GECINA
IPSEN
REMY COINTREAU
REXEL
SCOR SE
SODEXO
VALEO
VIVENDI
AIR FRANCE-KLM
*********************** France
APPLE
MICROSOFT
AMAZON.COM
TESLA
ALPHABET A
NVIDIA
META PLATFORMS A
JP MORGAN CHASE & CO.
JOHNSON & JOHNSON
UNITEDHEALTH GROUP
PROCTER & GAMBLE
BANK OF AMERICA
WALMART
VISA 'A'
MASTERCARD
EXXON MOBIL
HOME DEPOT
BERKSHIRE HATHAWAY 'A'
COCA COLA
WALT DISNEY
PFIZER
CHEVRON
DYCOM INDS.
ABBVIE
BROADCOM
ELI LILLY
VERIZON COMMUNICATIONS
CISCO SYSTEMS
PEPSICO
ADOBE (NAS)
COSTCO WHOLESALE
SALESFORCE.COM
ABBOTT LABORATORIES
ACCENTURE CLASS A
COMCAST A
INTEL
ORACLE
WELLS FARGO & CO
THERMO FISHER SCIENTIFIC
ADVANCED MICRO DEVICES
MCDONALDS
DANAHER
MERCK & COMPANY
NETFLIX
QUALCOMM
AT&T
NIKE 'B'
MORGAN STANLEY
PHILIP MORRIS INTL.
CITIGROUP
AMERICAN EXPRESS
BRISTOL MYERS SQUIBB
CHARLES SCHWAB
LINDE
NEXTERA ENERGY
RAYTHEON TECHNOLOGIES
T-MOBILE US
TEXAS INSTRUMENTS
UNION PACIFIC
UNITED PARCEL SER.'B'
*********************** US
SHELL
ASTRAZENECA
HSBC HOLDINGS
UNILEVER (UK)
BP
DIAGEO
GLAXOSMITHKLINE
RIO TINTO
BRITISH AMERICAN TOBACCO
GLENCORE
ANGLO AMERICAN
VODAFONE GROUP
RECKITT BENCKISER GROUP
RELX
BARCLAYS
NATIONAL GRID
LLOYDS BANKING GROUP
LONDON STOCK EXCHANGE GROUP
PRUDENTIAL
TESCO
COMPASS GROUP
BT GROUP
FERGUSON
NATWEST GROUP
ASHTEAD GROUP
BAE SYSTEMS
EXPERIAN
ASSOCIATED BRIT.FOODS
IMPERIAL BRANDS
SSE
STANDARD CHARTERED
ANTOFAGASTA
AVIVA
LEGAL & GENERAL
SEGRO
BURBERRY GROUP
HALMA
JD SPORTS FASHION
MARKS & SPENCER GROUP
NEXT
OCADO GROUP
ROLLS-ROYCE HOLDINGS
SMITH & NEPHEW
WPP
AVEVA GROUP
BANK OF GEORGIA GROUP
BARRATT DEVELOPMENTS
BRITISH LAND
BUNZL
ENTAIN
EVRAZ
ICTL.HTLS.GP.
INTERMEDIATE CAPITAL GP.
INTERTEK GROUP
KINGFISHER
MONDI
PERSIMMON
RIGHTMOVE
SAINSBURY J
*********************** UK
ENEL
INTESA SANPAOLO
STELLANTIS
ENI
UNICREDIT
ASSICURAZIONI GENERALI
ATLANTIA
EXOR ORD
RECORDATI INDUA.CHIMICA
SNAM
TERNA RETE ELETTRICA NAZ
BANCO BPM
DAVIDE CAMPARI MILANO
SAIPEM
A2A
AMPLIFON
AUTOGRILL
BANCA MEDIOLANUM
BANCA MONTE DEI PASCHI
BANCA PPO.DI SONDRIO
BPER BANCA
BUZZI UNICEM
DIASORIN
HERA
LEONARDO
MEDIOBANCA BC.FIN
PRYSMIAN
REPLY
SESA
TELECOM ITALIA
ACEA
ALERION CLEAN POWER
ASCOPIAVE
AZIMUT HOLDING
BANCA CARIGE
BANCA GENERALI
BANCA IFIS
BRUNELLO CUCINELLI
CATTOLICA ASSICURAZIONI
CEMENTIR HOLDING
CREDITO EMILIANO
DANIELI
DE LONGHI
EL EN
ERG
*********************** Italy
ROYAL BANK OF CANADA
TORONTO-DOMINION BANK
BK.OF NOVA SCOTIA
BROOKFIELD ASSET MAN.'A' (NYS)
CANADIAN NATIONAL RY.
ENBRIDGE
BANK OF MONTREAL
CANADIAN NATURAL RES.
CANADIAN PACIFIC RY.
CANADIAN IMP.BK.COM.
THOMSON REUTERS (NYS)
TC ENERGY
BCE
SUNCOR ENERGY
ALIMENTATION COUCHE TARD MULTI VOTING A
BARRICK GOLD (NYS)
MANULIFE FINANCIAL
CENOVUS ENERGY
CONSTELLATION SOFTWARE
TELUS
FRANCO-NEVADA
GREAT WEST LIFECO
IMPERIAL OIL
SUN LIFE FINL.
WASTE CONNECTIONS
AGNICO-EAGLE MNS. (NYS)
INTACT FINANCIAL
LOBLAW
NATIONAL BANK OF CANADA
TECK RESOURCES SUBORDINATE VOTING B
FIRST QUANTUM MRLS.
FORTIS
MAGNA INTL.
POWER CORP.CANADA
ROGERS COMMS.'B'
WHEATON PRECIOUS METALS
CGI
DOLLARAMA
IVANHOE MINES
OPEN TEXT (NAS)
PEMBINA PIPELINE
WESTON GEORGE
AIR CANADA VOTING AND VARIABLE VOTING
ALGONQUIN PWR.& UTILS.
BROOKFIELD RENEWABLE PARTNERS
CAE
EMERA
FAIRFAX FINL.HDG.
METRO
OVINTIV (NYS)
RIOCAN REIT.TST.
SAPUTO
SHAW COMMS.'B'
TOURMALINE OIL
WEST FRASER TIMBER
*********************** Canada
BHP GROUP
COMMONWEALTH BK.OF AUS.
CSL
NATIONAL AUS.BANK
WESTPAC BANKING
AUS.AND NZ.BANKING GP.
MACQUARIE GROUP
FORTESCUE METALS GP.
WESFARMERS
RIO TINTO
TELSTRA
WOOLWORTHS GROUP
GOODMAN GROUP
TRANSURBAN GROUP STAPLED UNITS
WOODSIDE PETROLEUM
SANTOS
NEWCREST MINING
ARISTOCRAT LEISURE
ASX
JAMES HARDIE INDUSTRIES CDI
MINERAL RESOURCES
QBE INSURANCE GROUP
RAMSAY HEALTH CARE
APA GROUP
BRAMBLES
CIMIC GROUP
COCHLEAR
COMPUTERSHARE
DOMINO'S PIZZA ENTS.
EVOLUTION MINING
JB HI-FI
LYNAS RARE EARTHS
MAGELLAN FINANCIAL GP.
QANTAS AIRWAYS
REA GROUP
SONIC HEALTHCARE
SUNCORP GROUP
WHITEHAVEN COAL
ABACUS PROPERTY GROUP STAPLED UNITS
ADBRI
AGL ENERGY
ALLKEM
ALS
ALTIUM
ALUMINA
AMP
AMPOL
ANSELL
ARB
ARENA REIT STAPLED UNITS
ARGO INVESTMENTS
ATLAS ARTERIA STAPLED UNITS
AUB GROUP
AURIZON HOLDINGS
*********************** Australia
OMV
ERSTE GROUP BANK
RAIFFEISEN BANK INTL.
VERBUND
WIENERBERGER
ANDRITZ
EVN
OBERBANK
STRABAG SE
TELEKOM AUSTRIA
VOESTALPINE
AGRANA BETEILIGUNGS
AMAG AUSTRIA METALL
AT&S AU.TCHG.& SYSTK.
BANK FUR TIROL UND VBG.
BKS BANK
CA IM.ANLAGEN
DO CO REST.CATER.
FLUGHAFEN WIEN
IMMOFINANZ
LENZING
MAYR-MELNHOF KARTON
OSTERREICHISCHE POST
PALFINGER
PIERER MOBILITY
S IMMO
UNIQA INSU GR AG
VIENNA INSURANCE GROUP A
AB EFFECTENBETEILIGUNGEN
ATHOS IMMOBILIEN
BURGENLAND HOLDING
FRAUENTHAL HOLDING
HUTTER & SCHRANTZ
HUTTER & SCHRANTZ STAHLBAU
JOSEF MANNER & CO.
KAPSCH TRAFFICCOM
LINZ TEXTIL
MASCHINEN.HEID ST
*********************** Austria
TENCENT HOLDINGS
HSBC HOLDINGS
CHINA MOBILE
AIA GROUP
CNOOC
HONG KONG EXS.& CLEAR.
ANTA SPORTS PRODUCTS
BOC HONG KONG HOLDINGS
CHINA OVERSEAS LAND INVESTMENT
CHINA RESOURCES LAND
CITIC
HANG SENG BANK
LONGFOR GROUP HOLDINGS
MTR
SUN HUNG KAI PROPERTIES
HONG KONG AND CHINA GAS
LI NING
SUNNY OPTICAL TECH.(GP.)
TECHTRONIC INDS.
CHINA MENGNIU DAIRY
CHINA RESOURCES BEER HOLDINGS
CK HUTCHISON HOLDINGS
CLP HOLDINGS
GALAXY ENTERTAINMENT GP.
GEELY AUTOMOBILE HDG.
SHENZHOU INTL.GP.HDG.
CHOW TAI FOOK JEWELLERY GP.
HENDERSON LD.DEV.
PRADA S P 'A'
SANDS CHINA
CHINA UNICOM (HONG KONG)
CKI HOLDINGS
COUNTRY GARDEN HOLDINGS
ENN ENERGY HOLDINGS
LINK REAL ESTATE INVESTMENT TRUST
ORIENT OVERSEAS (INTL.)
SEMICON.MNFG.INTL.
SWIRE PROPERTIES
ZHONGSHENG GP.HDG.
CHINA HONGQIAO GROUP
CHINA RESOURCES GAS GROUP
CHINA RESOURCES POWER
CSPC PHARMACEUTICAL GP.
GCL-POLY ENERGY HOLDINGS
*********************** Hong Kong
TOYOTA MOTOR
SONY GROUP
KEYENCE
NIPPON TELG. & TEL.
MITSUBISHI UFJ FINL.GP.
KDDI
SOFTBANK GROUP
TOKYO ELECTRON
NINTENDO
ORIENTAL LAND
SHIN-ETSU CHEMICAL
DENSO
HONDA MOTOR
CHUGAI PHARM.
FAST RETAILING
ITOCHU
MITSUBISHI
DAIKIN INDUSTRIES
NIDEC
DAIICHI SANKYO
HITACHI
HOYA
MITSUI
MURATA MANUFACTURING
SUMITOMO MITSUI FINL.GP.
TAKEDA PHARMACEUTICAL
JAPAN TOBACCO
SEVEN & I HDG.
Z HOLDINGS
FANUC
SMC
TOKIO MARINE HOLDINGS
BRIDGESTONE
FUJIFILM HOLDINGS
MIZUHO FINL.GP.
ASTELLAS PHARMA
CANON
FUJITSU
PANASONIC
TERUMO
CENTRAL JAPAN RAILWAY
M3
MITSUBISHI ELECTRIC
NISSAN MOTOR
NTT DATA
OLYMPUS
ORIX
TOYOTA INDS.
AEON
ASAHI GROUP HOLDINGS
DAI-ICHI LIFE HOLDINGS
EAST JAPAN RAILWAY
KAO
KOMATSU
KUBOTA
KYOCERA
*********************** Japan
ATLAS COPCO A
ERICSSON B
HEXAGON B
INVESTOR B
VOLVO B
ASSA ABLOY B
HENNES & MAURITZ B
SANDVIK
SKANDINAVISKA ENSKILDA BANKEN A
TELIA COMPANY
SVENSKA HANDELSBANKEN A
NIBE INDUSTRIER
SKF B
SWEDBANK A
AAK
ALFA LAVAL
BOLIDEN ORD SHS
ELECTROLUX B
FASTIGHETS BALDER B
LATOUR INVESTMENT B
LUNDIN ENERGY
SECURITAS B
SVENSKA CELLULOSA AKTIEBOLAGET SCA B
SWEDISH MATCH
SWEDISH ORPHAN BIOVITRUM
TELE2 B
AVANZA BANK HOLDING
AXFOOD
BIOTAGE
CASTELLUM
CATENA
DIOS FASTIGHETER
FABEGE
GETINGE B
HMS NETWORKS
HOLMEN B
HUFVUDSTADEN A
HUSQVARNA B
JM
KINNEVIK B
LOOMIS
MODERN TIMES GROUP MTG B
NOLATO B
SAAB B
SKANSKA B
SSAB A
TRELLEBORG B
VITROLIFE
*********************** Sweden
*********************** Chile
NOVO NORDISK 'B'
DSV
VESTAS WINDSYSTEMS
A P MOLLER MAERSK B
COLOPLAST B
GENMAB
CARLSBERG B
DANSKE BANK
NOVOZYMES B
TRYG
GN STORE NORD
PANDORA
CHRISTIAN HANSEN HOLDING
DEMANT
JYSKE BANK
RINGKJOBING LANDBOBANK
ROCKWOOL INTERNATIONAL B
ROYAL UNIBREW
SYDBANK
ALK-ABELLO B
ALM BRAND
AMBU B
BAVARIAN NORDIC
CHEMOMETEC
DFDS
DMPKBT.NORDEN
FLSMIDTH AND CO.
H LUNDBECK
JEUDAN
KOBENHAVNS LUFTHAVNE
NKT
NTG NORDIC TRANSPORT GROUP
SCHOUW AND
SIMCORP
SPAR NORD BANK
TOPDANMARK
UTD.INTENT.
AALBORG BOLDSPILKLUB
AGAT EJENDOMME
AGF B
ATLANTIC PETROLEUM
BANG AND OLUFSEN
BANKNORDIK
BIOPORTO
BLUE VISION A
*********************** Denmark
NORDEA BANK
KONE 'B'
NOKIA
FORTUM
NESTE
SAMPO 'A'
UPM-KYMMENE
STORA ENSO R
ELISA
KESKO B
KONECRANES
METSO OUTOTEC
NOKIAN RENKAAT
ORION B
WARTSILA
CARGOTEC 'B'
CITYCON
EQ
FINNAIR
HUHTAMAKI
KEMIRA
METSA BOARD B
OUTOKUMPU 'A'
REVENIO GROUP
SANOMA
TIETOEVRY
UPONOR
YIT
ALANDSBANKEN A
ALMA MEDIA
F-SECURE
FISKARS 'A'
MARIMEKKO
NELES
OLVI A
PONSSE
VAISALA A
AFARAK GROUP
AKTIA BANK A
APETIT
ASPO
ASPOCOMP GROUP
ATRIA 'A'
AVIDLY
BASWARE
*********************** Finland
KWEICHOW MOUTAI 'A'
INDUSTRIAL & COML.BK.OF CHINA 'A'
CHINA CON.BANK 'H'
CHINA MERCHANTS BANK 'A'
AGRICULTURAL BANK OF CHINA 'A'
PETROCHINA 'A'
BANK OF CHINA 'A'
WULIANGYE YIBIN 'A'
CHINA LIFE INSURANCE 'A'
PING AN INSURANCE (GP.) CO. OF CHINA 'A'
CHINA YANGTZE PWR. 'A'
INDUSTRIAL BANK 'A'
HANGZHOU HIK VIS.DIG. TECH.'A'
LONGI GREEN EN.TECH.'A'
NETEASE ADR 1:5
CHINA PTL.& CHM.'A'
CHINA SHENHUA EN.'A'
CHINA TOURISM GROUP DUTY FREE 'A'
SHANXI XINGHUACUN FEN WINE FAC. 'A'
BAIDU ADS 1:8
LUZHOU LAO JIAO 'A'
LUXSHARE PRECN.IND.'A'

PING AN BANK 'A'
S F HDG.'A'
WANHUA CHEMICAL GP.'A'
CITIC SECURITIES 'A'
EAST MONEY INFO.'A'
BANK OF NINGBO 'A'
INNER MONGOLIA YILI INDL.GP.'A'
JIANGSU HENGRUI MEDICINE 'A'
JIANGSU YANGHE BREW.JST. 'A'
SHAI.PUDONG DEV.BK. 'A'
BANK OF COMMS.'A'
BYD 'H'
CHINA STATE CON.ENGR.'A'
COSCO SHIPPING HDG.'A'
GREE ELECT.APP. 'A'
SAIC MOTOR 'A'
ZHANGZHOU PIENTZEHUANG PHARMS.'A'
ZIJIN MINING GROUP 'A'
AIER EYE HOSPITAL GP.'A'
BOE TECH.GP.'A'
CHINA PAC.IN.(GROUP) 'A'
CHINA VANKE 'A'
CHONGQING ZHIFEI BILG. PRDS.'A'
*********************** China

#### mapping currencies to equities 2

In [78]:
for country in data_additional_eqt.keys():
    for equity, currency in zip(data_additional_eqt[country], curr_mapping_add[country].values()):
        if currency in ['NK', 'CE']:
            continue

        data_additional_eqt[country][equity] =\
        data_additional_eqt[country][equity].mul(df_forex[currency])
        print(equity)
    print('***********************', country)

am = curr_mapping_add['US']

*********************** NO_EQ_200
MERCEDES-BENZ GROUP N
VOLKSWAGEN
ADIDAS
BMW
ALLIANZ
DEUTSCHE BANK
SAP
SIEMENS
BASF
BAYER
DEUTSCHE TELEKOM
E ON N
RWE
COMMERZBANK
DEUTSCHE LUFTHANSA
DEUTSCHE POST
HENKEL
BEIERSDORF
BILFINGER BERGER
BRENNTAG
CONTINENTAL
DEUTSCHE BOERSE
ENBW ENGE.BADEN-WURTG.
HANNOVER RUECK
INFINEON TECHNOLOGIES
MERCK KGAA
MTU AERO ENGINES HLDG.
MUENCHENER RUCK.
PORSCHE AML.HLDG.PREF.
PUMA
RHEINMETALL
SOFTWARE N
SYMRISE
THYSSENKRUPP
TUI
AAREAL BANK
ADESSO
ADIDAS (XET)
AIXTRON
ALSTRIA OFFICE REIT
ATOSS SOFTWARE
AURUBIS
BAYER (XET)
BECHTLE
BOSS (HUGO)
CANCOM
CARL ZEISS MEDITEC
DATAGROUP
ECKERT & ZIEGLER (XET)
EVOTEC
FRESENIUS
FRESENIUS MED.CARE
FUCHS PETROLUB N
GEA GROUP
GEA GROUP (XET)
GELSENWASSER
GERRY WEBER INTERNATIONAL
HAMB.HAFEN UD.LOGISTIK
HEIDELBERGCEMENT
HOCHTIEF
KUKA
LANXESS
NORCOM INFO.TECH.
PSI SOFTWARE
RHEINMETALL (XET)
SARTORIUS
SIXT
TELEFONICA DTL.HLDG.
UNITED INTERNET
WIRECARD
1&1
1&1 (XET)
11 88 0 SOLUTIONS
11 88 0 SOLUTIONS (XET)
2G ENERGY
*********************** Germany
BANCO SANTANDER
IBERDROLA
INDITEX
BBV.ARGENTARIA
CAIXABANK
RED ELECTRICA
TELEFONICA
AMADEUS IT GROUP
EDP RENOVAVEIS
ENAGAS
INTL.CONS.AIRL.GP.
NATURGY ENERGY
REPSOL YPF
ABENGOA
ACCIONA
ACS ACTIV.CONSTR.Y SERV.
BANCO DE SABADELL
ENDESA
FERROVIAL
FLUIDRA
GRIFOLS ORD CL A
INDRA SISTEMAS
MAPFRE
1NKEMIA UICT GROUP
ACERINOX 'R'
ADL BIONATUR SOLUTIONS
ADOLFO DOMINGUEZ
AIRTIFICIAL INTEL STR
ALANTRA PARTNERS
ALMIRALL
ALTIA CONSULTORES
AMPER
ATRESMEDIA CORP
AUDAX RENOVABLES
AYCO GRUPO INMOBILIARIO
AZKOYEN
BANKINTER 'R'
BODEGAS RIOJANAS
BORGES AGRICULTURE (AGROFRUSE)
CAJA DE AHORROS DEL MEDITERRANEO
CATENON SA
CEMENTOS MOLINS
CEVASA
CIE AUTOMOTIVE
CLEOP SUSP - 30/04/15
CLINICA BAVIERA
CODERE SA
COMMCENTER
CONST Y AUXILIAR DE FERR
CORP EMPRESARIAL
CORPORACION FINCA.ALBA
DEOLEO
DESARROLLOS ESPECIAL SIST ANCLAJE
DISTRIBUIDORA INTNAC.DE ALIMENTACION
DURO FELGUERA
EBRO FOODS
ELECNOR
ENCE ENERGIA Y CELULOSA
ERCROS
EUROESPES
FAES FARMA
FIN.INMUEBLES CISNEROS
FOMENTO CONSTR.Y CNTR.
GENERAL DE ALQUILER DE MAQUINARIA
GPO.EMPRESARIAL SAN JOSE
GRINO ECOLOGIC
GRUPO CATALANA OCCIDENTE
GRUPO EZENTIS
IBERPAPEL GESTION
INMOBILIARIA COLONIAL
INMOBILIARIA DEL SUR LIMITED DATA
ISPD NETWORK
LABORATORIO REIG JOFRE
LBOS.FARMACEUTICOS ROVI
LIBERTAS 7
LINGOTES ESPECIALES
LIWE ESPANOLA LIMITED DATA
MEDCOMTECH SA
MEDIASET ESPANA COMUNICACION
MELIA HOTELS INTL.
MINERSA
MIQUEL Y COSTAS
MOBILIARIA MONESA
MONTEBALITO
NH HOTEL GR
NICOLAS CORREA
NUEVA EXPRESION TEXTIL
NYESA VALORES
OBRASCON HUARTE LAIN
PESCANOVA
PHARMA MAR
PRIM
PROMOTORA DE INFIC. 'A' (GRUPO PRISA)
PROSEGUR CIA.SECURIDAD
REALIA BUSINESS
RENTA 4 SERV.DE INVN.
RENTA CORPN.REAL ESTATE
SACYR
SECUOYA GPO.DE COMCIOS.
SERVICE POINT SOLUTIONS
SIEMENS GAMESA RENEWABLE ENERGY
SOLARIA ENERGIA Y MEDIO AMBIENTE
TECNICAS REUNIDAS
TR HOTEL
TUBACEX
TUBOS REUNIDOS
UNION CATALANA DVL.
URBAR INGENIEROS LTD DATA
URBAS GUADAHERMOSA
VERTICE TRESCIENTOS SESENTA GRADOS
VIDRALA
VISCOFAN
VOCENTO
ZARDOYA OTIS
*********************** Spain
APPLE
DYCOM INDS.
MICROSOFT
AMAZON.COM
TESLA
PROSPERITY BCSH.
ALPHABET A
PARKER-HANNIFIN
NVIDIA
JP MORGAN CHASE & CO.
CITIGROUP
JOHNSON & JOHNSON
META PLATFORMS A
MSCI
EXXON MOBIL
SM ENERGY
CHEVRON
INTERNATIONAL BUS.MCHS.
S&P GLOBAL
BANK OF AMERICA
INTEL
WALMART
COCA COLA
NASDAQ
SPX
TOOTSIE ROLL
UNITEDHEALTH GROUP
VISA 'A'
WALT DISNEY
BOEING
CATERPILLAR
CISCO SYSTEMS
FORD MOTOR
GENERAL MOTORS
GOLDMAN SACHS GP.
HOME DEPOT
MCDONALDS
NIKE 'B'
PFIZER
PROCTER & GAMBLE
VERIZON COMMUNICATIONS
3M
ACCENTURE CLASS A
ADOBE (NAS)
ADVANCED MICRO DEVICES
AMERICAN EXPRESS
AT&T
FEDERAL REALTY INV.TST.
GENERAL ELECTRIC
ION GEOPHYSICAL
MARATHON OIL
NETFLIX
NEWPARK RESOURCES
O I GLASS
SMITH (AO)
STARBUCKS
WELLS FARGO & CO
ARCHER DANIELS MIDLAND
CONOCOPHILLIPS
COSTCO WHOLESALE
EBAY
EQT
EVERCORE A
EVERSOURCE ENERGY
GLOBAL CORD BLOOD
HONEYWELL INTL.
LOEWS
MASTERCARD
MERCK & COMPANY
MORGAN STANLEY
ORACLE
PEPSICO
PRUDENTIAL FINL.
RAYTHEON TECHNOLOGIES
AMGEN
BAKER HUGHES A
BANK OF NEW YORK MELLON
ABBOTT LABORATORIES
ABBVIE
ACTIVISION BLIZZARD
AMER.ELEC.PWR.
ANSYS
ANTHEM
APPLIED MATS.
ASHFORD HOSPLTY.TST.
AUTODESK
BERKSHIRE HATHAWAY 'A'
BLACKROCK
BLACKSTONE
BOOKING HOLDINGS
BROADCOM
CF INDUSTRIES HDG.
CHENIERE EN.
CNA FINANCIAL
COMCAST A
DANAHER
DEVON ENERGY
ELECTRONIC ARTS
ELI LILLY
EOG RES.
EQUINIX REIT
EXPEDIA GROUP
FEDEX
FIDELITY NAT.INFO.SVS.
FIRST REPUBLIC BANK
FISERV
FLEXIBLE SOLUTIONS INTL.
GENERAL DYNAMICS
HP
KKR AND
LAM RESEARCH
LIBERTY GLOBAL CL.A
LINDE
LOCKHEED MARTIN
MATTEL
MONDELEZ INTERNATIONAL CL.A
MOODY'S
NEXTERA ENERGY
OCCIDENTAL PTL.
OWENS CORNING
QUALCOMM
SALESFORCE.COM
SERVICENOW
SERVOTRONICS
T-MOBILE US
THERMO FISHER SCIENTIFIC
UNITED STATES STEEL
WORKDAY CLASS A
ABM INDS.
ACI WORLDWIDE
*********************** US
BP
SHELL
UNILEVER (UK)
BARCLAYS
VODAFONE GROUP
ASTRAZENECA
BAE SYSTEMS
GLENCORE
HSBC HOLDINGS
LLOYDS BANKING GROUP
NATWEST GROUP
TESCO
TIME FINANCE
ANGLO AMERICAN
AVIVA
BT GROUP
DIAGEO
RECKITT BENCKISER GROUP
RIO TINTO
SAINSBURY J
AVEVA GROUP
BANK OF GEORGIA GROUP
BRITISH AMERICAN TOBACCO
BUNZL
BURBERRY GROUP
CRODA INTERNATIONAL
EVRAZ SUSP - 10/03/2022
EXPERIAN
FERGUSON
GLAXOSMITHKLINE
LEGAL & GENERAL
LONDON STOCK EXCHANGE GROUP
MEGGITT
MONDI
NATIONAL GRID
NEXT
OCADO GROUP
POLYMETAL INTERNATIONAL
ROLLS-ROYCE HOLDINGS
SSE
STANDARD CHARTERED
ADMIRAL GROUP
ANTOFAGASTA
ASHTEAD GROUP
ASOS
ASSOCIATED BRIT.FOODS
BABCOCK INTERNATIONAL
BRITISH LAND
CENTRICA
COMPASS GROUP
ENTAIN
FRESNILLO
HALMA
HARBOUR ENERGY
ICTL.HTLS.GP.
INFORMA
INTERTEK GROUP
JD SPORTS FASHION
KINGFISHER
MELROSE INDUSTRIES
PEARSON
PERSIMMON
PRUDENTIAL
RELX
RENTOKIL INITIAL
RIGHTMOVE
ROTORK
SAGE GROUP
SEGRO
SEVERN TRENT
SMITH (DS)
SMITHS GROUP
SPIRAX-SARCO ENGR.
WHITBREAD
ABRDN
ACCESS INTELLIGENCE
ADEPT TECHNOLOGY GROUP
AFC ENERGY
BARCLAYS BANK IPATH LKD. GSCI TOR.IDX.12/06/36
BARRATT DEVELOPMENTS
BERKELEY GROUP HOLDINGS (THE)
BODYCOTE
CAMELLIA
CAPITA
CARNIVAL
CERES POWER HOLDINGS
COMPUTACENTER
CRANSWICK
CRIMSON TIDE
D4T4 SOLUTIONS
DCC
DECHRA PHARMACEUTICALS
DIRECT LINE IN.GROUP
DISCOVERIE GROUP
DOTDIGITAL GROUP
EASYJET
ELECTROCOMP.
ELEMENTIS
FERREXPO
FINSBURY FOOD GROUP
GB GROUP
GOOCH AND HOUSEGO
HAMMERSON
HARGREAVES LANSDOWN
HIKMA PHARMACEUTICALS
IMI
IMPERIAL BRANDS
INTERMEDIATE CAPITAL GP.
ITM POWER
ITV
JOHNSON MATTHEY
LAND SECURITIES GROUP
MARKS & SPENCER GROUP
PETROPAVLOVSK
PHOENIX GROUP HDG.
PRIMARY HEALTH PROPS.
PROTON MOTOR POWER SYSTEMS
REA HOLDINGS
RESTAURANT GROUP
SCHRODERS
SERICA ENERGY
SMITH & NEPHEW
SPECTRIS
ST.JAMES'S PLACE ORD
SUPERDRY
SYNTHOMER
TATE & LYLE
TAYLOR WIMPEY
UNITED UTILITIES GROUP
VALIRX
VELOCYS
VESUVIUS
WANDISCO
WEIR GROUP
WOOD GROUP (JOHN)
WPP
1SPATIAL
*********************** UK
ABB LTD N
NESTLE 'N'
UBS GROUP
ROCHE HOLDING
ZURICH INSURANCE GROUP
CREDIT SUISSE GROUP
GEBERIT 'R'
GIVAUDAN 'N'
HOLCIM
NOVARTIS 'R'
PARTNERS GROUP HOLDING
RICHEMONT N
SCHINDLER 'R'
SWISS RE
SWISSCOM 'R'
ADECCO GROUP
CHOCOLADEFABRIKEN LINDT & SPRUENGLI
CLARIANT
JULIUS BAER GRUPPE
KUEHNE UND NAGEL INTERNATIONAL
LONZA GROUP
SGS 'N'
SIKA
SWISS LIFE HOLDING
SWISSQUOTE 'R'
TEMENOS N
ACRON HELVETIA I IMOBILN
ADDEX THERAPEUTICS
ADVAL TECH N
AEVIS VICTORIA
AFRICA GOLD
AIRESIS 'R'
ALLREAL HOLDING
ALPINE SELECT
ALSO HOLDING
AMS-OSRAM AG
APG SGA
ARBONIA AG
ARYZTA
ASCOM 'R'
AUTONEUM HOLDING
BACHEM HOLDING
BALOISE HOLDING
BANK LINTH LLB
BANQUE CANTON.DE GENEVE
BANQUE CANTONALE DU JURA
BARRY CALLEBAUT
BASELLANDSCHAFTLICH E KANTONALBANK
BASILEA PHARMACEUTICA 'R'
BASLER KB 'P'
BB BIOTECH N
BC VAUD N
BELIMO N
BELL 'R'
BELLEVUE GROUP
BERNER KANTONALBANK
BKW
BOBST GROUP
BONHOTE IMMOBILIER BIM
BOSSARD 'B'
BRGBH.ENGELB TRUEB TITLI
BUCHER INDUSTRIES
BURCKHARDT CMPSN.HLDG.
BURKHALTER N
BVZ HOLDING 'R'
BYSTRONIC AG
CALIDA 'R'
CI COM
CICOR TECHNOLOGIES
COLTENE N
COMET HOLDINGS 'R'
COMPAGNIE FINANCIERE TRADITION
COSMO PHARMACEUTICALS
CPH CHEMIE+PAPIER HLDG.
CREALOGIX HOLDING
CREDIT SUISSE REAL ESTATE FUND SIAT A
DAETWYLER 'I'
DATACOLOR 'R'
DKSH HOLDING
DORMA KABA HOLD
DOTTIKON ES HOLDING
DUFRY 'R'
EDISUN POWER EUROPE N
EDMOND DE ROTHSCHILD ASSET MANAGEMENT
EFG INTERNATIONAL N
ELMA ELECTRONIC
EMMI AG
EMS-CHEMIE 'N'
ENERGIEDIENST HOLDING
ENR RUSSIA INVEST I
EPH EUROPEAN PROPERTY HOLDINGS
EVOLVA HOLDING
FEINTOOL
FIRSTCAUTION
FLUGHAFEN ZURICH
FONDS IMMOBILIER ROMAND NPV.
FORBO HDG.
FUNDAMENTA REAL EST.
GAM HOLDING
GAVAZZI I
GEORG FISCHER
GRAUB KB 'P'
GROUPE MINOTERIES
GURIT HOLDING
HBM HEALTHCARE INVS.
HELVETIA HOLDING N
HIGHLIGHT EVENT & ENTM.
HOCHDORF N
HUBER+SUHNER 'R'
HYPOTHEKARBANK LENZBURG
IMMO HELVETIC
IMPLENIA 'R'
INFICON
INTERROLL
INTERSHOP N
ISC BUSINESS TECHNOLOGY
IVF HARTMANN
JUNGFRAUBAHN 'R'
KARDEX HOLDING AG
KOMAX
KUDELSKI 'B'
KUROS BIOSCIENCES
LA FONCIERE
LALIQUE GROUUP
LECLANCHE 'N'
LEM 'R'
LEONTEQ
LIECHTENSTEINISCHE LANDESBANK
LION E-MOBILITY
LOGITECH 'R'
LUZERNER KANTONALBANK
MATADOR PARTNERS GROUP SUSP - SUSP.01/07/19
MCH GROUP
MEIER TOBLER GROUP
METALL ZUG
MEYER BURGER TECH
MIKRON 'R'
MOBILEZONE HOLDING
MOBIMO HOLDING
NEBAG
NEW VALUE 'R'
OC OERLIKON CORPORATION
ONE SWISS BANK
OPENLIMIT HOLDING
ORASCOM DEV.HOLDING N
ORELL FUSSLI AG
ORIOR
PATRM.SWISS RLST.FUND
PEACH PROPERTY GROUP
PERFECT HOLDING
PERROT DUVAL 'B'
PHOENIX MECANO 'B'
PROCIMMO SWISS COML.FD.
PSP SWISS PROPERTY AG
Q CAPITAL
REALSTONE CLOSED FUND
RELIEF THERAPEUTICS
RIETER HOLDING 'R'
ROMANDE ENERGIE HOLDING
SANTHERA
SCHAFFNER
SCHLATTER INDUSTRIES
SCHWEITER TECHNOLOGIES
SCHWEIZERISCHE NAT.BK.
SF URBAN PROPERTIES N
SHL TELEMEDICINE
SIEGFRIED 'R'
SKAN N
SONOVA N
ST GALLER KANTONALBANK
STARRAG GROUP HOLDING
STRAUMANN HLDG.
SULZER 'R'
SWISS ESTATES
SWISS PRIME SITE
SWISS STEEL HOLDING AG
*********************** Swiss

#### mapping currencies to equities 3

In [111]:
for eqt_NO in fund_pairs.keys():
    for equity, currency in zip(fund_pairs[eqt_NO], curr_mapping_fund[eqt_NO].values()):
        if currency in ['NK', 'CE']:
            continue

        fund_pairs[eqt_NO][equity] =\
        fund_pairs[eqt_NO][equity].mul(df_forex[currency])
        print(equity)
    print('***********************', eqt_NO)

BP
SHELL
ENI
TOTALENERGIES
EXXON MOBIL
CHEVRON
*********************** Equinor
NORDEA BANK
SVENSKA HANDELSBANKEN A
DANSKE BANK
SKANDINAVISKA ENSKILDA BANKEN A
BNP PARIBAS
LLOYDS BANKING GROUP
BARCLAYS
*********************** DNB
TELE2 B
TELIA COMPANY
DEUTSCHE TELEKOM
TELEFONICA
TELEKOM AUSTRIA
VODAFONE GROUP
SWISSCOM 'R'
BT GROUP
*********************** Telenor
KAISER ALUMINUM
*********************** Hydro
LUNDIN ENERGY
HARBOUR ENERGY
HESS
MARATHON OIL
MURPHY OIL
MEG ENERGY
*********************** Aker BP
CF INDUSTRIES HDG.
ICL GROUP
MOSAIC
*********************** Yara
TOPDANMARK
SAMPO 'A'
TRYG
ALLIANZ
ZURICH INSURANCE GROUP
ADMIRAL GROUP
TALANX AKTGSF.
*********************** Gjensidige
DANONE
NESTLE 'N'
SUEDZUCKER
TATE & LYLE
AAK
PREMIUM BRANDS HOLDINGS
UNILEVER (UK)
*********************** Orkla
SANOMA
INFORMA
LAGARDERE GROUPE
PEARSON
JCDECAUX
VIVENDI
*********************** Schibsted A
SKANSKA B
BALFOUR BEATTY
HOCHTIEF
NCC B
YIT
PEAB B
ACS ACTIV.CONSTR.Y SERV.
VINCI
BOSKALIS WESTMINSTER
*********************** AF gruppen A
VERBUND
*********************** Arendals fossekompani
CAPGEMINI
ATOS
SOPRA STERIA GROUP
COMPUTACENTER
TIETOEVRY
ACCENTURE CLASS A
*********************** Atea
SOLVAY
JOHNSON MATTHEY
*********************** Borregaard
TEEKAY
*********************** Frontline
RHEINMETALL
LEONARDO
GENERAL DYNAMICS
LOCKHEED MARTIN
NORTHROP GRUMMAN
RAYTHEON TECHNOLOGIES
BAE SYSTEMS
THALES
*********************** Kongsberg gruppen
TAIWAN SEMICONDUCTOR
TAIWAN SEMICON.MNFG.
STMICROELECTRONICS
INTEL
QUALCOMM
BROADCOM
NVIDIA
ADVANCED MICRO DEVICES
LATTICE SEMICONDUCTOR
REALTEK SEMICON.
*********************** Nordic Semiconductor
SAIPEM
OCEANEERING
HELIX ENERGY SLTN.GP.
SCHLUMBERGER
BAKER HUGHES A
HALLIBURTON
*********************** Subsea 7
DFDS
*********************** Walenius Wilhelmsen

In [81]:
data_additional_eqt['US'].head()

,APPLE,DYCOM INDS.,MICROSOFT,AMAZON.COM,TESLA,PROSPERITY BCSH.,ALPHABET A,PARKER-HANNIFIN,NVIDIA,JP MORGAN CHASE & CO.,...,QUALCOMM,SALESFORCE.COM,SERVICENOW,SERVOTRONICS,T-MOBILE US,THERMO FISHER SCIENTIFIC,UNITED STATES STEEL,WORKDAY CLASS A,ABM INDS.,ACI WORLDWIDE
Name,,,,,,,,,,,,,,,,,,,,,
2013-01-02,93192.926112,74450.245848,206245.074024,72496.960272,816.659976,4837.831680,3977.306784,48610.552584,4305.879864,23177.947848,...,73724.019336,5490.949992,677.340576,915.093960,195.323040,27893.564688,897.106584,599.597592,9746.012760,2744.123184
2013-01-03,92809.727360,74061.904208,205237.619500,73454.963496,809.959208,4956.812336,4013.900500,49410.238636,4346.476852,23330.765352,...,74013.542620,5458.737724,671.663988,912.470192,195.616780,28047.606264,888.428528,597.758132,9887.913448,2782.766956
2013-01-04,90941.892654,75503.421504,202995.940182,74230.199892,807.697506,5065.007730,4125.769794,50073.262698,4525.551732,23932.897758,...,73503.670404,5531.429340,661.740918,940.696380,199.189794,28519.031010,905.357160,601.271586,10087.944960,2857.596642
2013-01-07,90306.998528,74938.149344,202392.402752,76811.691328,805.403968,4999.679328,4103.223360,49696.966048,4389.883072,23932.780064,...,74012.164512,5504.807808,623.187904,936.350752,195.495648,28709.788224,904.692672,600.382880,9960.304352,2856.287232
2013-01-08,90465.975180,74165.158980,201143.921220,76146.123240,789.206040,4983.787440,4091.298300,49690.199160,4290.195240,23957.984520,...,73827.935460,5531.943600,596.187000,937.832940,190.611900,28504.624140,879.221880,596.354940,9946.190520,2861.809560

#### Reading equities to disk

In [64]:
with pd.ExcelWriter('CLEANED_DATA.xlsx') as writer:
    for country in data_equity_all:
        data_equity_all[country].to_excel(writer, sheet_name=country)
        print(f'{country} written to disk')
    df_obx.to_excel(writer, sheet_name='Norway')

France written to disk
US written to disk
UK written to disk
Italy written to disk
Canada written to disk
Australia written to disk
Austria written to disk
Hong Kong written to disk
Japan written to disk
Sweden written to disk
Chile written to disk
Denmark written to disk
Finland written to disk
China written to disk

#### Reading equities to disk 2

In [82]:
with pd.ExcelWriter('CLEANED_DATA_2.xlsx') as writer:
    for country in data_additional_eqt:
        data_additional_eqt[country].to_excel(writer, sheet_name=country)
        print(f'{country} written to disk')
#     df_obx.to_excel(writer, sheet_name='Norway') fund_pairs

NO_EQ_200 written to disk
Germany written to disk
Spain written to disk
US written to disk
UK written to disk
Swiss written to disk

#### Reading equities to disk 2

In [112]:
with pd.ExcelWriter('FUND_PAIRS_CLEAN.xlsx') as writer:
    for EQT_NO in fund_pairs:
        fund_pairs[EQT_NO].to_excel(writer, sheet_name=EQT_NO)
        print(f'{EQT_NO} written to disk')
#     df_obx.to_excel(writer, sheet_name='Norway') fund_pairs

Equinor written to disk
DNB written to disk
Telenor written to disk
Hydro written to disk
Aker BP written to disk
Yara written to disk
Gjensidige written to disk
Orkla written to disk
Schibsted A written to disk
AF gruppen A written to disk
Arendals fossekompani written to disk
Atea written to disk
Borregaard written to disk
Frontline written to disk
Kongsberg gruppen written to disk
Nordic Semiconductor written to disk
Subsea 7 written to disk
Walenius Wilhelmsen written to disk

## Factors

#### Reading and formatting factors

In [275]:
factors_raw = pd.read_excel('MASTER_A.xlsx', sheet_name = 'Factors', index_col='Date')
factors_raw.drop('CURRENCY', axis=0, inplace=True)
factors_raw.drop(['Crude Oil BFO M1 Europe FOB $/BBl',
                  'S&P GSCI Silver Total Return - RETURN IND. (OFCL)'], axis=1, inplace=True)
factors_raw.index = factors_raw.index.astype(str).str[:-9]
factors_raw.columns = ['WTI Crude Oil', 'Gold Bullion', 'Brent Europe', 'Copper', 'Aluminium',
                       'Baltic Dry Index', 'Natural Gas - RFV', 'Natural Gas - Henry Hub',
                       'Fish Pool Spot', 'Silver', 'VLCC']
factors_raw = factors_raw.pct_change()[1:]
factors_raw.head()

,WTI Crude Oil,Gold Bullion,Brent Europe,Copper,Aluminium,Baltic Dry Index,Natural Gas - RFV,Natural Gas - Henry Hub,Fish Pool Spot,Silver,VLCC
Date,,,,,,,,,,,
2012-03-02,-0.018941,0.000198,0.001352,-0.005536,-0.011461,0.010485,0.025806,NaN,-0.038948,-0.004281,0.000000
2012-03-05,0.000187,-0.005743,0.005956,-0.008890,-0.018375,0.014267,0.002096,NaN,0.000000,-0.023502,0.017857
2012-03-06,-0.018928,-0.017639,-0.013025,-0.025232,-0.023064,0.006394,-0.014644,NaN,0.000000,-0.040211,-0.021930
2012-03-07,0.013945,0.006507,0.002719,0.000815,-0.012203,0.013977,0.006369,NaN,0.000000,0.020795,0.004484
2012-03-08,0.003956,0.006026,0.020659,0.004552,-0.001386,0.017544,0.021097,NaN,0.000000,0.000000,0.000000

#### Reading Bond reutrns

In [276]:
bond_returns = pd.read_excel('MASTER_A.xlsx',
                            skiprows=1,
                            sheet_name = 'Bond returns',
                            index_col='Date')
bond_returns = bond_returns['2012-03-02':]
bond_returns.index = bond_returns.index.astype(str)
bond_returns.reindex(factors_raw.index, axis='index')

assert (bond_returns.index == factors_raw.index).sum() == len(factors_raw), "indices do not match"

bond_returns.head()

            10Y NO  10Y US  10Y UK
Date
2012-03-02  0.0425 -0.4335 -0.5525
2012-03-05 -0.0510  0.2380  0.2125
2012-03-06 -0.0255 -0.4845 -0.3825
2012-03-07 -0.0170  0.1870 -0.0085
2012-03-08  0.2720  0.3740  0.1190

#### Currency

In [278]:
currency = pd.read_excel('MASTER_A.xlsx',
                         sheet_name='Currency',
                         usecols=['NOK - USD', 'NOK - EUR', 'NOK - £', 'Date'],
                         index_col='Date',
                        )
currency = currency.pct_change()[1:]
currency = currency['2012-03-02':]
currency.index = currency.index.astype(str)
currency.head()

            NOK - USD  NOK - EUR   NOK - £
Date
2012-03-02   0.007158  -0.002426  0.000662
2012-03-05  -0.003460  -0.001394 -0.002620
2012-03-06   0.017781   0.008783  0.009320
2012-03-07  -0.005078  -0.004694 -0.007100
2012-03-08  -0.016088  -0.004649 -0.009166

#### Concatenating the bond returns to the other factors

In [280]:
factors_returns_final = pd.concat([factors_raw, bond_returns, currency], axis=1)
factors_returns_final.tail()

,WTI Crude Oil,Gold Bullion,Brent Europe,Copper,Aluminium,Baltic Dry Index,Natural Gas - RFV,Natural Gas - Henry Hub,Fish Pool Spot,Silver,VLCC,10Y NO,10Y US,10Y UK,NOK - USD,NOK - EUR,NOK - £
Date,,,,,,,,,,,,,,,,,
2022-02-23,0.002067,0.004134,0.0,-0.005596,-0.006581,0.044693,0.110834,0.020000,0.0,0.009057,0.142496,0.2125,0.2465,0.0170,-0.001025,-0.001913,-0.003719
2022-02-24,0.007709,0.009465,0.0,0.001211,0.034327,-0.025401,0.530493,0.017429,0.0,0.008160,0.062731,-0.3485,-0.0425,-0.2380,0.023984,0.004953,0.002656
2022-02-25,-0.006680,-0.019584,0.0,-0.000050,-0.014119,-0.050754,-0.341122,-0.040685,0.0,-0.032376,0.199306,0.6120,0.1020,0.1105,-0.025575,-0.014042,-0.015225
2022-02-28,0.038290,0.008716,0.0,0.000101,0.000443,-0.017341,0.124291,-0.017857,0.0,0.013802,0.130670,-0.9690,-1.2325,-0.4165,-0.006463,-0.007661,-0.006467
2022-03-01,0.080234,0.011451,0.0,0.017441,0.033353,0.014216,0.164343,0.038636,0.0,0.037129,0.000000,-1.0030,-1.0880,-2.5670,0.006027,-0.002076,0.001119

#### Reading factors to disk

In [282]:
factors_returns_final.to_excel('FACTOR_RETURNS_VAL.xlsx', sheet_name='Factors')

### Indices

In [197]:
indices = pd.read_excel('MASTER_A.xlsx',
                            skiprows=2,
                            sheet_name = 'Indices',
                            index_col='Date')
keep_cols = [c.strip() for c in indices.columns if 'Unnamed' not in c]
indices = indices[keep_cols]
# indices.drop(['CHILE MSCI'], axis=1, inplace=True) # Dropping Chile -> what curreny is "CE" ??
indices.index = indices.index.astype(str)
indices.head()

,OSEBX,S&P 500,NASDAQ,DOW JONES,NYSE,FTSE 100,MSCI CANADA,AUSTRALIA,FRANCE CAC 40,France SBF 120,CSI300,MSCI CHINA,HANG SENG,TOPIX,Italy,STOCKHOLM OMX,COPENHAGEN OMX,HELSINKI OMX,Austria
Date,,,,,,,,,,,,,,,,,,,
2012-03-01,428.37,2367.87,3199.58,24203.45,10131.88,4038.79,5668.997,4894.136,7221.88,4974.01,2819.57,94.168,46193.19,1068.40,26503.71,113.70,532.63,11131.55,3418.70
2012-03-02,429.10,2360.28,3185.90,24198.37,10070.33,4025.09,5629.030,4912.968,7224.85,4978.89,2869.46,95.303,46572.09,1076.47,26616.96,113.76,532.23,11184.15,3415.19
2012-03-05,423.36,2351.28,3158.61,24170.85,10028.86,4000.36,5577.436,4908.118,7196.72,4956.85,2851.00,93.762,45930.71,1070.10,26435.30,113.00,530.43,11105.77,3370.97
2012-03-06,410.77,2315.21,3115.63,23795.12,9817.05,3926.13,5473.373,4842.502,6938.82,4782.21,2806.41,91.472,44939.20,1063.02,25539.13,109.00,517.50,10738.60,3235.60
2012-03-07,415.88,2331.89,3143.39,23946.75,9893.60,3951.14,5488.140,4775.471,7000.25,4827.68,2787.09,90.619,44553.73,1057.08,25823.88,109.58,520.46,10913.35,3259.80

In [198]:
### Currency mapping
ind_curr = dict(zip(keep_cols, range(len(keep_cols))))
ind_curr.pop('OSEBX')
ind_curr['S&P 500'] = 'U$'
ind_curr['NASDAQ'] = 'U$'
ind_curr['DOW JONES'] = 'U$'
ind_curr['NYSE'] = 'U$'
ind_curr['FTSE 100'] = '£'
ind_curr['AUSTRALIA'] = 'A$'
ind_curr['MSCI CANADA'] = 'C$'
ind_curr['FRANCE CAC 40'] = 'E'
ind_curr['France SBF 120'] = 'E'
# ind_curr['CHILE MSCI'] = ''
ind_curr['CSI300'] = 'CH'
# ind_curr['MSCI CHINA'] = ''
ind_curr['HANG SENG'] ='K$'
ind_curr['TOPIX'] = 'Y'
ind_curr['Italy'] ='E'
ind_curr['STOCKHOLM OMX'] = 'SK'
ind_curr['COPENHAGEN OMX'] = 'DK'
ind_curr['HELSINKI OMX'] = 'E'

ind_curr['Austria'] = 'E'
ind_curr.pop('MSCI CHINA')
final_map = ind_curr

final_map

{'S&P 500': 'U$',
 'NASDAQ': 'U$',
 'DOW JONES': 'U$',
 'NYSE': 'U$',
 'FTSE 100': '£',
 'MSCI CANADA': 'C$',
 'AUSTRALIA': 'A$',
 'FRANCE CAC 40': 'E',
 'France SBF 120': 'E',
 'CSI300': 'CH',
 'HANG SENG': 'K$',
 'TOPIX': 'Y',
 'Italy': 'E',
 'STOCKHOLM OMX': 'SK',
 'COPENHAGEN OMX': 'DK',
 'HELSINKI OMX': 'E',
 'Austria': 'E'}

In [ ]:
### Reindexing
indices = indices.reindex(df_obx.index, axis='index')
assert (indices.index == df_obx.index).sum() == len(df_obx), "Length mismatch"

### Getting the valuta right

for ind, curr in final_map.items():
    indices[ind] = indices[ind].mul(df_forex[curr])

indices_returns = indices.pct_change()[1:]

#### Reading indices to disk

In [199]:
indices_returns.to_excel('INDICES_RETURNS.xlsx', sheet_name='Indices')

In [207]:
indices.head()

,OSEBX,S&P 500,NASDAQ,DOW JONES,NYSE,FTSE 100,MSCI CANADA,AUSTRALIA,FRANCE CAC 40,France SBF 120,CSI300,MSCI CHINA,HANG SENG,TOPIX,Italy,STOCKHOLM OMX,COPENHAGEN OMX,HELSINKI OMX,Austria
Name,,,,,,,,,,,,,,,,,,,
2013-01-02,454.50,14172.231480,18593.760240,141156.650448,60383.400528,38094.958232,32171.927333,32852.285940,58880.483275,40628.150325,2441.178004,103.346,37165.785993,71.720906,202442.515775,102.481614,578.446539,83915.91920,28693.96640
2013-01-03,455.26,14264.664988,18683.823352,142149.399260,60733.695424,38237.753885,32243.171611,33392.945776,58470.830160,40400.159880,2461.033948,104.239,37623.523100,72.375680,201919.499175,102.549918,579.080178,84224.26233,28714.94781
2013-01-04,456.97,14447.907204,18838.889430,143747.550186,61641.977070,38472.655104,32517.534472,33273.280418,58670.237880,40533.755670,2484.260811,104.026,37807.571772,74.198656,202724.250750,103.270920,584.066650,84911.16474,28700.17893
2013-01-07,454.11,14386.944416,18800.809184,143044.541056,61357.785568,38378.307447,32481.020357,33458.221798,58326.866520,40355.859960,2492.877586,103.993,37768.821354,73.955372,202151.467440,103.083553,586.161106,84929.25454,28738.80854
2013-01-08,456.04,14331.831660,18741.096360,142398.565200,61086.271680,38279.207607,32518.566354,33228.785462,58502.102295,40456.026065,2482.400741,102.439,37378.760960,73.329568,203356.612550,102.244311,591.535836,84629.74338,28782.18252

In [209]:
indices_returns.head()

,OSEBX,S&P 500,NASDAQ,DOW JONES,NYSE,FTSE 100,MSCI CANADA,AUSTRALIA,FRANCE CAC 40,France SBF 120,CSI300,MSCI CHINA,HANG SENG,TOPIX,Italy,STOCKHOLM OMX,COPENHAGEN OMX,HELSINKI OMX,Austria
Name,,,,,,,,,,,,,,,,,,,
2013-01-03,0.001672,0.006522,0.004844,0.007033,0.005801,0.003748,0.002214,0.016457,-0.006957,-0.005612,0.008134,0.008641,0.012316,0.009129,-0.002584,0.000667,0.001095,0.003674,0.000731
2013-01-04,0.003756,0.012846,0.008299,0.011243,0.014955,0.006143,0.008509,-0.003584,0.003410,0.003307,0.009438,-0.002043,0.004892,0.025188,0.003986,0.007031,0.008611,0.008156,-0.000514
2013-01-07,-0.006259,-0.004219,-0.002021,-0.004891,-0.004610,-0.002452,-0.001123,0.005558,-0.005853,-0.004389,0.003469,-0.000317,-0.001025,-0.003279,-0.002825,-0.001814,0.003586,0.000213,0.001346
2013-01-08,0.004250,-0.003831,-0.003176,-0.004516,-0.004425,-0.002582,0.001156,-0.006857,0.003004,0.002482,-0.004203,-0.014943,-0.010328,-0.008462,0.005962,-0.008141,0.009169,-0.003527,0.001509
2013-01-09,0.004802,0.004897,0.006753,0.006852,0.005923,0.006726,0.002776,0.007683,0.003054,0.002678,0.002317,0.006013,0.006868,0.010084,0.022060,-0.000641,0.006122,-0.001633,0.005424

In [210]:
indices_returns.isnull().sum()

OSEBX             0
S&P 500           0
NASDAQ            0
DOW JONES         0
NYSE              0
FTSE 100          0
MSCI CANADA       0
AUSTRALIA         0
FRANCE CAC 40     0
France SBF 120    0
CSI300            0
MSCI CHINA        0
HANG SENG         0
TOPIX             0
Italy             0
STOCKHOLM OMX     0
COPENHAGEN OMX    0
HELSINKI OMX      0
Austria           0
dtype: int64

### Reading all currency mappings do disk

In [118]:
curr_mapping_1 = curr_mapping('MASTER_A.xlsx', COUNTRIES_for)

France currency
Italy currency
Canada currency
Australia currency
Austria currency
Hong Kong currency
Japan currency
Sweden currency
Chile currency
Denmark currency
Finland currency
China currency

In [119]:
curr_mapping_2 = curr_mapping('MASTER_A2.xlsx', COUNTRIES_for_2)

US currency
UK currency
Spain currency
Germany currency
Swiss currency

In [120]:
curr_mapping_3 = curr_mapping('FUNDAMENTAL_PAIRS_3.xlsx', Fundamental_NOR)

Equinor currency
DNB currency
Telenor currency
Hydro currency
Aker BP currency
Yara currency
Gjensidige currency
Orkla currency
Schibsted A currency
AF gruppen A currency
Arendals fossekompani currency
Atea currency
Borregaard currency
Frontline currency
Kongsberg gruppen currency
Nordic Semiconductor currency
Subsea 7 currency
Walenius Wilhelmsen currency

In [ ]:
COUNTRIES_for = ['France', 'Italy', 'Canada',
                 'Australia', 'Austria', 'Hong Kong', 'Japan', 'Sweden', 'Chile',
                 'Denmark', 'Finland', 'China']

COUNTRIES_for_2 = ['US', 'UK', 'Spain', 'Germany', 'Swiss']

In [255]:
MAP = {}
### curr_mapping_1
for country, eqt_dict_map in curr_mapping_1.items():
    MAP[country] = pd.DataFrame.from_dict(eqt_dict_map, orient='index')
    
### curr_mapping_2
for country, eqt_dict_map in curr_mapping_2.items():
    MAP[country] = pd.DataFrame.from_dict(eqt_dict_map, orient='index')
    
### curr_mapping_3
for eqt_nor, eqt_dict_map in curr_mapping_3.items():
    MAP[eqt_nor] = pd.DataFrame.from_dict(eqt_dict_map, orient='index')
    
MAP_FRAME = pd.concat(MAP)
MAP_FRAME = MAP_FRAME.droplevel(0, axis=0)

In [256]:
MAP_FRAME

                           0
LVMH                       E
L'OREAL                    E
TOTALENERGIES              E
HERMES INTL.               E
SANOFI                     E
...                       ..
HALLIBURTON               U$
SUBSEA 7                  NK
WALLENIUS WILHELMSEN      NK
DFDS                      DK
A P MOLLER MAERSK B(WBO)   E

[1726 rows x 1 columns]

In [257]:
### Dropping duplicate index-names (multiple entries of same eqt)
MAP_FRAME_FINAL = MAP_FRAME[~MAP_FRAME.index.duplicated(keep='first')]
MAP_FRAME_FINAL

                           0
LVMH                       E
L'OREAL                    E
TOTALENERGIES              E
HERMES INTL.               E
SANOFI                     E
...                       ..
SCHLUMBERGER              U$
HALLIBURTON               U$
SUBSEA 7                  NK
WALLENIUS WILHELMSEN      NK
A P MOLLER MAERSK B(WBO)   E

[1654 rows x 1 columns]

In [258]:
MAP_FRAME_FINAL.to_excel('CURRENY_MAPPING_ALL_EQT.xlsx')

In [260]:
df_forex.to_excel('DF_FOREX.xlsx')